@import "src/assets/styles/dark-colors.scss";

.modal-back{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6) !important;
    z-index: 1000;
    top:0;
    left: 0;
}

.image-main-container{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 1002;
    display: inline-block;
    width: 800px;
    height: 500px;

    .image-container{
        width: 100%;
        height: 100%;
        position: relative;
        img{
            max-height: 100%;  
            max-width: 100%; 
            width: auto;
            height: auto;
            position: absolute;  
            top: 0;  
            bottom: 0;  
            left: 0;  
            right: 0;  
            margin: auto;
            
        }

        .icon-close{
            position: absolute;
            right: -24px;
            top:-24px;
        }

        .arrow{
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            cursor: pointer;
            .fa-chevron-right, .fa-chevron-left{
           
                top: calc(50% - 10px);
                color: $inactive-color;
                font-size: 20px;
            }
        }

        .arrow-left{
            left: -30px;
        }

        .arrow-right{
            right: -30px;
        }

        
    }

    
}