<div *ngIf="dialogService.dialog" class="dialog-bar-container d-flex flex-row align-items-center justify-content-between">

  <div class="d-flex align-items-center">
    <avatar-circle [image]="dialogService.dialog.avatar" [size]="'35px'" [iconSize]="'20px'" [isOnline]="dialogService.dialog.isOnline" [useLogo]="dialogService.dialog.participants.length > 2"
      [ngClass]="'dialog-bar-avatar'" [onlineSize]="'9px'"></avatar-circle>
    <span class="dialog-bar-name">{{dialogService.dialog.name}}</span>
  </div>

  <div class="d-flex align-items-center">
      <div class="dialog-bar-action d-flex align-items-center justify-content-center" (click)="addToDialog()">
        <i class="icon-plus"></i>
        <span>{{'Dialogs_AddParticipant' | translate}}</span>
      </div>
  </div>
  
</div>


<dialog-invite [(visible)]="isAddToDialogMode"></dialog-invite>