@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";
@import "src/assets/styles/forms.scss";


.entity-sound-container{
    width: 300px;
    background-color: $dark-card-background;
    border-radius: 5px; 
    padding: 0px 0px 20px 0px;
    
    .nav-item{
        margin-left: 30px;
        margin-bottom: 12px;
        width: 100%;
        border-radius: 0; 
        border: none !important;
        cursor: pointer;

        .nav-link{
            color: $active-color !important;
            border: none !important;
            font-size: 16px;
            padding: 0 !important;
            display: inline !important;
        }

        .tracks-count{
            color: $inactive-color;
            margin-left: 6px;
        }

        .icon-info{
            color: $inactive-color;
            font-size: 13px;
            margin-top: 3px;
        }
    }

    .search-text-container{
        border-bottom: 1px solid #ececec;
        padding-top: 6px; 
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 6px;
       
        .form-control{
            border: none !important;
        }

        .icon-search{
            color: $app-grey;
            margin-top: 4px;
       }
    }
}

.entity-sound-container-mobile{
    width: 100%;
    margin-top: 8px;

    .nav-item{
        

        .nav-link{
            font-size: 20px;
        }
    }
}

.nav-tabs{
    padding-top: 18px;
    border: none;
}

.active{
    background-color: $dark-card-background !important;
}

.hidden{
    display: none;
}

