@import "src/assets/styles/dark-colors.scss";

:host(messages){
    height: 560px;
}

::-webkit-scrollbar {
    width: 0px;
}

.outer{
    border-radius: 0 0 5px 5px;
    background: $dark-card-background;
    overflow: auto;
    flex:2;
    
}

.main-messages-container{
    
    .message-component{
    }
}