@import "src/assets/styles/dark-colors.scss";

:host(messages){
    height: 560px;
}

::-webkit-scrollbar {
    width: 0px;
}

.main-messages-container{
    height: 100%;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    background: $dark-card-background;
}