@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";


::-webkit-scrollbar {
    width: 0px;
}

.entity-video-container{
    background-color: $dark-card-background;
    padding:45px;
    padding-bottom: 0px;
    border-radius: 5px; 
    width: 1120px;
    height: 548px;
    margin-bottom: 35px;


    .title-container{
        font-size: 16px;
        color: #7a7a7b;
        margin-bottom: 45px;

        .video-count{
            color: $dark-title-color;
            font-size: 13px;
            margin-left: 10px;
        }
    }

    .video-container{
        height: 420px;
        overflow-y: auto;
        :first-child{
            margin-left: 0;
        }

        youtube-player{
            margin-left: 45px;
        }
    }
}