<div class="entity-video-container" *ngIf="isUsers || (entity.videoInfos && entity.videoInfos.length > 0)">


  <div class="info-title-container d-flex justify-content-between">
    <div class="title-container">
      <span>{{'Video' | translate}}</span>
      <span class="video-count">{{entity.videoInfos ? entity.videoInfos.length : 0}}</span>
    </div>
    <div class="edit-buttons-container d-flex align-items-center" (click)="editVideo()">
      <i *ngIf="isEditVisible && isUsers" class="icon-plus"></i>
      <span *ngIf="isEditVisible && isUsers">{{'Video_Add' | translate}}</span>
    </div>
  </div>

  <div class="video-container d-flex flex-wrap">
    <ng-container *ngIf="entity.videoInfos && entity.videoInfos.length > 0">
      <ng-container *ngFor="let info of entity.videoInfos">
        <div class="d-flex flex-column specific-video-container">
          <youtube-player *ngIf="info.type == 1" [playerId]="info.id" [width]="490" [height]="315" [videoId]="info.id"></youtube-player>
          <vimeo-player *ngIf="info.type == 2" [videoId]="info.id" [width]="490" [height]="315"></vimeo-player>
          <span>{{info.name}}</span>
        </div>

      </ng-container>

    </ng-container>
    <ng-container *ngIf="!entity.videoInfos || entity.videoInfos.length == 0">
      <div class="no-video-container d-flex flex-column align-items-center justify-content-center">
        <span>{{'NoVideo' | translate}}</span>
        <span *ngIf="isUsers" (click)="editVideo()" class="add-video-label">{{'Video_Add' | translate}}</span>

      </div>
    </ng-container>
  </div>
</div>

<video-edit *ngIf="isAddVideoMode" [(isAddVideoMode)]="isAddVideoMode" (onVideoSaved)="saveVideo($event)"></video-edit>