<div class="entity-video-container" (mouseover)="changeEditVisible(1)"
  (mouseleave)="changeEditVisible(-1)">


  <div class="info-title-container d-flex justify-content-between">
    <div class="title-container">
      <span>{{'Video' | translate}}</span>
      <span class="video-count">{{entity.videosYoutube ? entity.videosYoutube.length : 0}}</span>
    </div>
    <div class="edit-buttons-container">
      <span *ngIf="isEditVisible && !isEditMode" (click)="changeEditMode(1)">{{'Edit' | translate}}</span>
      <span *ngIf="isEditMode" (click)="cancel()">{{'Cancel' | translate}}</span>
      <span *ngIf="isEditMode" (click)="save()" class="save-button">{{'Save' | translate}}</span>
    </div>
  </div>

  <div class="video-container">
    <ng-container *ngIf="entity.videosYoutube && entity.videosYoutube.length > 0">
      <youtube-player *ngFor="let link of entity.videosYoutube" [playerId]="link" [width]="490" [height]="315" [videoId]="link"></youtube-player>
    </ng-container>
     <ng-container>
       <div class="no-video-container d-flex align-items-center justify-content-center">
        <span>{{'NoVideo' | translate}}</span>
       </div>
     </ng-container>
  </div>
</div>