@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";


::-webkit-scrollbar {
    width: 0px;
}

.entity-video-container{
    background-color: $dark-card-background;
    padding:45px;
    padding-bottom: 0px;
    border-radius: 5px; 
    width: 1120px;
    height: 548px;
    margin-bottom: 35px;


    .info-title-container{
         margin-bottom: 45px;
        .title-container{
            font-size: 16px;
            color: #7a7a7b;
            
            .video-count{
                color: $dark-title-color;
                font-size: 13px;
                margin-left: 10px;
            }
        }

        .edit-buttons-container{
            cursor: pointer;
            outline: none;
            .icon-plus{
                color: $dark-title-color;
                font-size: 13px;
                margin-right: 12px;
                margin-top: 5px;
            }
        }

        .edit-buttons-container:hover{
            
            .icon-plus{
                color: $dark-orange-hard;
            }
        }
    }
    

    .video-container{
        height: 420px;
        overflow-y: auto;
        :first-child{
            margin-left: 0;
        }

        youtube-player{
            margin-left: 45px;
        }
    }

    
}

.no-video-container{
    height: 70%;
    span{
        font-size: 16px;
        color: $dark-title-color;
    }
}