<modal [title]="'Login_SignUp'" [widthPerCent]="'35.5%'">
  <div>
    <div class="d-flex flex-row circle-container justify-content-center">
      <div [class.circle-selected]="currentStep == 1" class="circle d-flex align-items-center justify-content-center">1</div>
      <div [class.circle-selected]="currentStep == 2" class="circle d-flex align-items-center justify-content-center circle-center">2</div>
      <div [class.circle-selected]="currentStep == 3" class="circle d-flex align-items-center justify-content-center">3</div>
    </div>
    <div class="registration-container d-flex flex-column">
      <ng-container *ngIf="currentStep == 1">
        <div>
          <div class="d-flex align-items-baseline">
            <label class="property-title">{{'Login_Login' | translate}}:</label>
            <input class="form-control" [(ngModel)]="login" [class.error-control]="existingLogin" />
          </div>
          <div *ngIf="existingLogin" class="error-label">{{'Login_LoginExist' | translate}}</div>
          <div *ngIf="!existingLogin" class="spacer"> </div>
        </div>

        <br>
        <div class="d-flex align-items-baseline property-title">
          <label class="property-title">{{'Login_Password' | translate}}:</label>
          <input type="password" [(ngModel)]="password" class="form-control" [class.error-control]="wrongCreds" />
          
        </div>
        <div class="spacer"> </div>
        <br>
        <div>
          <div class="d-flex align-items-baseline">
            <label class="property-title">{{'Login_RepeatPassword' | translate}}:</label>
            <input type="password" [(ngModel)]="passwordRepeat" class="form-control" [class.error-control]="passwordsAreNotMacthing"
            />
          </div>
          <label *ngIf="passwordsAreNotMacthing" class="error-label">{{'Login_WrongPasswords' | translate}}</label>
        </div>

      </ng-container>

      <ng-container *ngIf="currentStep == 2">
        <div class="d-flex flex-row justify-content-between align-items-end email-container">
          <div class="email">
            <div class="d-flex flex-row justify-content-between">
              <label>{{'Login_Email' | translate}}</label>
              <label *ngIf="isEmailSent && isCodeSent" class="is-sent">Код отправлен</label>
              <label *ngIf="isEmailSent && !isCodeSent" class="is-not-sent">Код не отправлен</label>
            </div>

            <input [(ngModel)]="email" class="form-control" [class.error-control]="wrongCreds" />
          </div>
          <div class="code">
            <button (click)="sendCode()" class="btn btn-secondary code-btn">{{'Login_SendCode' | translate}}</button>
          </div>
        </div>
        <br>
        <div class="d-flex flex-row justify-content-between align-items-end email-container">
          <div class="email">
            <div class="d-flex flex-row justify-content-between">
              <label>{{'Login_Code' | translate}}</label>
              <label class="is-not-sent" *ngIf="isCodeWrong">Неверный код</label>
            </div>

            <input [(ngModel)]="code" class="form-control" [class.error-control]="isCodeWrong" />
          </div>
        </div>
        <!--сделать фиксированный размер-->
      </ng-container>

      <ng-container *ngIf="currentStep == 3">
        <div class="d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center fa-check-container"><i class="fa fa-check"></i></div>
        </div>
      </ng-container>
    </div>

    <div class="d-flex flex-row registration-buttons-container" [class.justify-content-center]="currentStep == 3" [class.justify-content-between]="currentStep != 3">
      <button *ngIf="currentStep == 1" (click)="cancel()" class="btn btn-secondary">{{'Login_Cancel' | translate}}</button>
      <button *ngIf="currentStep == 2" (click)="moveBack()" class="btn btn-secondary">{{'Login_Back' | translate}}</button>
      <button *ngIf="currentStep != 3" [class.disabled]="(!isCodeSent || !code) && currentStep == 2" (click)="moveNext()" class="btn btn-success">{{'Login_Continue' | translate}}</button>
      <button *ngIf="currentStep == 3" routerLink="/" class="btn btn-success">{{'Закрыть' | translate}}</button>
    </div>
  </div>
</modal>