@import "src/assets/styles/colors.scss";
@import "src/assets/styles/forms.scss";

.registration-container{
    height: 250px;
    padding: 0 14%;
    color: $app-grey;
    font-size: 14px;
    margin-top: 50px;

    .error-label{
        color: red;
        font-size: 12px;
        float: right;
    }

    .error-control{
        border-bottom: 1px solid red;
    }
}

.registration-buttons-container{
    padding: 7% 14%;
    button{
        width: 48%;
        text-align: center;
    }  
}

.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

:host-context(.light) .circle{
    border: 1px solid $app-green;
    color: $app-green;
}

:host-context(.dark) .circle{
    border: 1px solid $dark-orange;
    color: $dark-orange;
}

:host-context(.light) .circle-selected{
     background-color: $app-green;
     color: white;
}

:host-context(.dark) .circle-selected{
    background-color: $dark-orange;
    color: white;
}

.circle-center{
    margin-left: 40px;
    margin-right: 40px;
}

.circle-container{
    margin-top: 40px;
}

.email-container{
    .email{
        width: 60%;
        .is-sent{
            color: $app-green;
            font-size: 12px;
        }

        .is-not-sent{
            color: red;
            font-size: 12px;
        }   
    }
    .code{
        width: 38%;
        button{
            width: 140px !important;
            height: 35px;
            border-radius: 20px !important;
        }
    }
}

.fa-check-container{
    background-color: $app-green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.fa-check{
    font-size: 120px;
    color: white;
}

.property-title{
    min-width: 140px;
}

.btn{
    width: 48% !important;
    height: 44px;
    border-radius: 22px; 
}

.spacer{
    height: 18px;
    widows: 10px;
}