@import "src/assets/styles/colors.scss";
@import "src/assets/styles/forms.scss";

.registration-container{
    height: 210px;
    color: $app-grey;
    font-size: 14px;
    margin-top: 50px;
    width: 300px;
}

.registration-container > div{
    width: 100%;
    margin-bottom: 25px;
}

.email-container > div{
     height: 50px;
}

.registration-buttons-container{
    width: 280px;
}

.circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $dark-title-color;
}

:host-context(.light) .circle-selected{
     background-color: $app-green;
}

:host-context(.dark) .circle-selected{
    background-color: $dark-orange;
}

.circle-center{
    margin-left: 40px;
    margin-right: 40px;
}

.circle-container{
    margin-top: 40px;
}

.email-container{
    .email{
        width: 60%;
        .is-sent{
            color: $app-green;
            font-size: 12px;
        }

        .is-not-sent{
            color: red;
            font-size: 12px;
        }   
    }
    .code{
        width: 38%;
    }
}

.fa-check-container{
    background-color: $app-green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.fa-check{
    font-size: 120px;
    color: white;
}

.property-title{
    min-width: 140px;
}

.spacer{
    height: 18px;
    widows: 10px;
}