@import "src/assets/styles/colors.scss";
@import "src/assets/styles/forms.scss";

.registration-container{
    height: 210px;
    color: $app-grey;
    font-size: 14px;
    margin-top: 50px;
    width: 300px;
}

.registration-container > div{
    width: 100%;
    margin-bottom: 15px;
    height: 50px;
}

.email-container > div{
     height: 50px;
}

.registration-buttons-container{
    width: 280px;
}

.circle{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $dark-title-color;
}

.circle-selected{
    width: 6px;
    height: 6px;
}

:host-context(.light) .circle-selected{
     background-color: $app-green;
}

:host-context(.dark) .circle-selected{
    background-color: $dark-orange-light;
}

.circle-center{
    margin-left: 12px;
    margin-right: 12px;
}

.circle-container{
    margin-top: 18px;
}

.email-container{
    .email{
        width: 60%;
        
    }
    .code{
        width: 38%;
    }
}

.fa-check-container{
    background-color: $app-green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.fa-check{
    font-size: 120px;
    color: white;
}

.property-title{
    min-width: 140px;
}

.is-sent{
    color: $app-green;
    font-size: 12px;
}

.is-not-sent{
    color: red;
    font-size: 12px;
}   

.code-label{
    height: 60%;
    img{
        margin-right: 12px;
    }
}

.complete-label{
    color: $dark-orange-light;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 36px;
    margin-top: 54px;
}

.info-label{
    font-size: 16px;
    text-align: center;
    color: #4d4d4d;
    //width: 95%;
}



.buttons-container-third{
    width: 300px;
    .create-button{
        width: 175px;
        background: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);
        img{
            width: 16px;
            height: 16px;
            margin-right: 12px;
            margin-left: 6px;
        }
    }
}