<div class="notifications-main-container">
  <span class="notifications-title">{{'Notifications' | translate}}</span>
  <div class="notifications-container">
    <div *ngFor="let notification of notifications">
      <div class="d-flex flex-row">
        <div class="notification-content d-flex flex-column">
          <div class="d-flex flex-row">
            <avatar-circle [ngClass]="'notifications-avatar'" [image]="notification.userAvatar" [size]="'40px'" [iconSize]="'20px'"></avatar-circle>
            <band-invite-notification [notification]="notification"></band-invite-notification>
          </div>

          <p class="notification-date">{{notification.date | dateNotification}}</p>
        </div>

        <div class="actions-cotainer">
            <span *ngIf="!notification.isConfirmed" (click)="sendResponse(-1, notification.id)" class="icon-close"></span>
            <span *ngIf="!notification.isConfirmed" (click)="sendResponse(1, notification.id)" class="fa fa-check"></span>
            <span *ngIf="notification.isConfirmed" class="action-label">{{'Notifications_IsSent' | translate}}</span>
        </div>
        

      </div>
    </div>

    <div *ngIf="!notifications || notifications.length == 0" class="empty-label">
      {{'Notifications_Empty' | translate}}
    </div>
  </div>

</div>