@import "src/assets/styles/dark-colors.scss";

.notifications-main-container{
    padding: 26px;

    .notifications-title{
        font-size: 16px;
        color: $active-color;
    }

    .notifications-container{
        margin-top: 20px;
        max-height: 220px;
        padding-right: 20px;
        
    }
}


span, a{
    font-size: 13px;
    color: $inactive-color;
}

.important-text{
    color: #6e6f72;
    font-weight: bold;
    
}

.empty-label{
    color: $inactive-color;
    font-size: 13px !important;
}