<span>Уведомления</span>

<div *ngFor="let notification of notifications">
  <div class="d-flex flex-row">
      <avatar-circle [image]="notification.userAvatar" [size]="'40px'" [iconSize]="'20px'"></avatar-circle>
      <band-invite-notification [notification]="notification"></band-invite-notification>
      <span>{{notification.date | dateNotification}}</span>
      <span *ngIf="!notification.isConfirmed" (click)="sendResponse(1, notification.id)">Да</span>
      <span *ngIf="!notification.isConfirmed" (click)="sendResponse(-1, notification.id)">Нет</span>
      <span *ngIf="notification.isConfirmed">Отправлено</span>
  </div>
</div>