@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";


.radio-label{
    font-size: 13px;
}

textarea{
    height: 120px !important;
    width: 300px;
    resize: none
}

.website-link{
    display: block;
    color: $dark-orange-light;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}