<entity-info [items]="infoItems" (onCanceled)="cancel()" (onSaved)="save()"></entity-info>

<ng-template #webSiteValueTemplate>
    <a class="website-link" href="{{shop.webSite}}">{{shop.webSite}}</a>
</ng-template>


<ng-template #descriptionEditTemplate>
    <div>
        <textarea [(ngModel)]="newShop.description" class="form-control secondary"></textarea>
    </div>
</ng-template>


<ng-template #webSiteEditTemplate>
    <input [(ngModel)]="newShop.webSite" class="form-control secondary"/>
</ng-template>