@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";

::-webkit-scrollbar {
    width: 0px;
}

.main-search-container{
    max-height: 99%;
    overflow-y: auto;
    margin-top: 6px; 
}

.search-items-container{
    position: relative;
    
}

.search-text-container{
    border-bottom: 1px solid #ececec;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    .form-control{
        border: none !important;
    }
}

.filter-text{
    font-size: 13px;
    color: #d6d7da;
    cursor: pointer;
}

.message{
    margin-top: 5%;
    color: $app-green;   
    cursor: pointer;
}

.no-items-message-container{
    padding: 20px;
}

.filter-line{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.fa-spinner{
   margin-left: 45%;
}

.filter-icon{
     background-color: $app-grey;
}

:host-context(.light) .selected-filter{
    background-color: $app-green;
}

:host-context(.dark) .selected-filter{
    background-color: $dark-orange-light;
}

.search-results-title{
    padding-left: 25px;
}