<side>
  <div class="main-search-container">
    <div class="search-input d-flex flex-row align-items-center">
      <span class="icon icon-middle search-icon"></span>
      <input class="form-control" [(ngModel)]="search" />
    </div>
    <div class="search-items-container">
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
      <div *ngFor="let item of items" class="search-item d-flex">
        <search-musician [item]="item"></search-musician>
      </div>
    </div>
  </div>
</side>