@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";

.main-search-container{
    height: 100%;
    
}

.search-items-container{
     flex: 2;
     position: relative;
     height: 1px;//почему-то с таким скрол отрабатывает
}

.search-text-container{
    border-bottom: 1px solid #ececec;
    padding-top: 6px; 
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    .form-control{
        border: none !important;
    }
}

.filter-text{
    font-size: 13px;
    color: #d6d7da;
    cursor: pointer;
}

.message{
    margin-top: 5%;
    color: $app-green;   
    cursor: pointer;
}

.no-items-message-container{
    padding: 20px;
    color: $inactive-color;
    font-size: 13px;
}

.result-line{
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: 90px;
   

    .result-title{
        font-size: 16px;
        color: $active-color;
    }

    .count-title{
        font-size: 13px;
        color: $inactive-color;
        height: 30px;
    }
}

.fa-spinner{
   margin-left: 45%;
   position: absolute;
}

.filter-icon{
     background-color: $app-grey;
}

:host-context(.light) .selected-filter{
    background-color: $app-green;
}

:host-context(.dark) .selected-filter{
    background-color: $dark-orange-light;
}

.search-results-title{
    padding-left: 25px;
}