@import "src/assets/styles/colors.scss";
@import "src/assets/styles/icons.scss";

::-webkit-scrollbar {
    width: 5px;
}

.main-search-container{
    padding-left: 15px;
    max-height: 100%;
    margin-top: -35px;
    overflow-y: auto;
}

.search-items-container{
    position: relative;
}

.search-input{
    border-bottom: 1px solid $app-green;
}

.form-control{
    border: none;
    border-radius: 0;
}

.message{
    margin-top: 5%;
    color: $app-green;   
    cursor: pointer;
}



.no-items-message-container{
    padding: 20px;
}