<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".js" allowed="true" />
                    <add fileExtension=".json" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />             
            </files>
        </defaultDocument>
<staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
</staticContent>
    </system.webServer>
</configuration>