@import "src/assets/styles/dark-colors.scss";

.donat-container{
    
    width: 350px;
    height: 100px;
    margin-bottom: 8px;
    background-color: $dark-card-background;
    //padding: 55px;
    border-radius: 5px; 
    color: $active-color; 
    font-size: 13px;
    font-weight: bold;
}