@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";

.donat-container{
    
    width: 350px;
    height: 150px;
    margin-bottom: 8px;
    background-color: $dark-card-background;
    padding: 20px 55px 0 55px ;
    border-radius: 5px; 
    color: $active-color; 
    font-size: 13px;

    .feedback-title{
        font-size: 18px;
        margin-bottom: 12px;
        height: 30px;
    }

    .total-container{
        margin-bottom: 12px;
    }

    .currency-container{
        margin-left: 30px;
    }
    
    .payment-methods{
        i{
            font-size: 24px;
        }
    }
}