<div class="d-flex track-wrapper">
  <div *ngIf="track" class="d-flex name-container">
    <div>
      <div class="play d-flex align-items-center justify-content-center" [class.playing]="track.isPlaying">
        <i *ngIf="!track.isPlaying" class="fa fa-play" (click)="play(track)"></i>
        <i *ngIf="track.isPlaying" class="fa fa-pause" (click)="stop(track)"></i>
      </div>
    </div>
    <div class="d-flex flex-column " style="width:165px">
      <span class="user-name">{{track.username}}</span>
      <span class="title">{{track.title}}</span>
    </div>
  </div>
  <div class="d-flex flex-column action-container align-items-end">
    <span class="user-name">{{track.duration}}</span>
    <span *ngIf="!track.isAdded && isUsers" (click)="addToPlaylist(track)" class="icon-plus"></span>
    <span *ngIf="track.isAdded && isUsers" (click)="removeFromPlaylist(track)" class="icon-rubbish-bin"></span>
  </div>
</div>