@import "src/assets/styles/forms.scss";
@import "src/assets/styles/base.scss";

.main-video-container{
    padding: 0 60px;
    height: 100%;
    .video-input-container{
        height: 50px;
        margin-bottom: 10px;
    }

    .video-info-container{
        overflow-y: auto; 
        height: 310px;
        .image-container{
            margin-bottom: 30px;
            img{
                margin-top: 8px;
                width: 226px;
            }
        }
    }

    .buttons-container{
        margin-top: 30px;
        // margin-bottom: 35px;
        .btn-success{
            margin-left: 35px;
            width: 110px;
        }
    }
}

textarea{
    height: 100px !important;
    resize: none
}

