@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";

.nets-container{
    a{
        margin-right: 20px;
        background-color: $dark-title-color;
    }

    .vk-icon:hover{
        background-color: #4d77a2;
    }

    .facebook-icon:hover{
        background-color: #3b5998;
    }

    .youtube-icon:hover{
        background-color: #d22215;
    }

    .soundcloud-icon:hover{
        background-color: #ff6a22;
    }

    a:first-child{
        margin-left: 4px;
    }

    a:last-child{
        margin-right: 0px;
    }
}

.minified{
    a{
        margin-right: 5px;
    }

    a:first-child{
        margin-left: 0px;
    }
}

.icon, img{
    width: 36px;
    height: 36px;
}