@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";

.nets-container{
    div{
        margin-right: 20px;
    }

    div:last-child{
        margin-right: 0px;
    }
}

.icon, img{
    width: 36px;
    height: 36px;
}

.inactive{
    background-color: $dark-item-hover;
}