<div class="nets-container d-flex flex-row" [class.minified]="isMinified">
    <a *ngIf="vkLink" href="{{vk}}{{vkLink}}" class="icon vk-icon" target="_blank"></a>
    <a *ngIf="facebookLink" href="{{facebook}}{{facebookLink}}" class="icon facebook-icon" target="_blank"></a>
    <a *ngIf="youTubeLink" href="{{youTube}}{{youTubeLink}}" class="icon youtube-icon" target="_blank"></a>
    <a *ngIf="soundCloudLink" href="{{soundCloud}}{{soundCloudLink}}" class="icon soundcloud-icon" target="_blank"></a>
  </div>