@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";
@import "src/assets/styles/layout.scss";

.sub-info-container{
    span{
        font-size: 13px;
        color: #b6bec5;
    }
   
    margin-bottom: 46px;
}

.nets-container{
    width: 100%;
    input{
        margin-bottom: 10px;
    }
}


.invite-bands-container{
    height: 290px;
    .invite-band{
        width: 70%;
    }   
}

.buttons-container{
    margin-top: 10px;
    button:first-child{
        margin-right: 30px;
    }
}

.no-bands-container{
    text-align: center;
    font-size: 16px;
    color: $dark-title-color;
}