<entity-base [entity]="musician" 
             [underNameTemplate]="underNameTemplate" 
             [items]="infoItems" 
             [actionItems]="actionItems"
             (onSaved)="save()"></entity-base>

<ng-template #underNameTemplate>
  <div  class="sub-info-container">
   <span *ngIf="musician.instrument">{{musicianTypesProvider.instruments.getValue(musician.instrument) | translate}}</span>
   <span *ngIf="musician.instrument && musician.age">,</span>
   <span *ngIf="musician.age">{{musician.age}} {{'Musician_Years' | translate}}</span> 
  </div>
</ng-template>

<ng-template #nameEditTemplate>
  <input placeholder="{{'Musician_Name' | translate}}" [(ngModel)]="newMusician.name" class="form-control secondary" />
</ng-template>


<ng-template #netsEditTemplate>

  <div class="d-flex flex-column nets-container">
    <input placeholder="YouTube" [(ngModel)]="newMusician.youTubeLink" class="form-control secondary" />
    <input placeholder="Vk" [(ngModel)]="newMusician.vkLink" class="form-control secondary" />
    <input placeholder="Facebook" [(ngModel)]="newMusician.facebookLink" class="form-control secondary" />
    <input placeholder="SoundCloud" [(ngModel)]="newMusician.soundCloudLink" class="form-control secondary" />
  </div>


</ng-template>

<ng-template #inviteToBandActionTemplate>
    <a (click)="inviteToBand()" class="dropdown-item">{{'InviteToBand' | translate}}</a>
</ng-template>


<p-dialog header="Title" [(visible)]="isGroupsModalVisible" [width]="550" [draggable]="false" [modal]="true">

    <div *ngIf="inviteInfo && inviteInfo.availableBands && inviteInfo.availableBands.length > 0" class="d-flex flex-row sex-container">
        <div class="mr-4 d-flex align-items-center" *ngFor="let band of inviteInfo.availableBands">
            <input type="radio" name="reportType" id="reportType{{band.login}}" [(ngModel)]="bandForInvite" [value]="band.login">
            <label class="radio-label" for="reportType{{band.login}}">{{band.name}}</label>
        </div>
        <div class="buttons-container">
            <button (click)="sendInvite()" class="btn btn-success">Пригласить</button>
            <button (click)="cancelInvite()" class="btn btn-secondary">Отмена</button>
        </div>
       

    </div>

  <div *ngIf="!inviteInfo || !inviteInfo.availableBands || inviteInfo.availableBands.length == 0">Нет доступных групп для приглашения</div>
</p-dialog>