
.buttons-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    .btn{
        width: 39%;
        min-width: 200px;
        height: 43px;
        border-radius: 20px; 
        font-size: 16px;
    }
}

.title{
    display: flex;
    text-align: center;
    font-size: 20px;
    padding: 2% 12%;
}