@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";

.buttons-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    .btn{
        width: 39%;
        min-width: 200px;
        height: 43px;
        border-radius: 20px; 
        font-size: 16px;
    }
}

.title{
    display: flex;
    text-align: center;
    font-size: 20px;
    padding: 2% 12%;
}

.back-arrow-icon-container{
    position: absolute;
    margin-top: 0.5%;
    margin-left: 1%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
}

.back-arrow-icon-container:hover{
    background-color: #f7f7f7;
}