<div class="filter-main-container d-flex flex-column">
  <div class="d-flex flex-row align-items-baseline filter-container">
    <label class="filter-label">{{'Entity' | translate}}:</label>
    <p-dropdown [options]="entities" [placeholder]="allTitle" [(ngModel)]="searchFilterService.selectedEntity" (onChange)="onChanged()"></p-dropdown>
  </div>

  <div *ngIf="searchFilterService.selectedEntity == 1 || searchFilterService.selectedEntity  == 3" class="separator"></div>

  <ng-container *ngIf="searchFilterService.selectedEntity  == 1 || searchFilterService.selectedEntity  == 3">
    <div class="d-flex flex-row align-items-center filter-container">
      <label class="filter-label">{{'Styles' | translate}}:</label>
      <div>
        <p-multiSelect [options]="styles" [defaultLabel]="allTitle"  [(ngModel)]="searchFilterService.selectedStyles" [filter]="false" (onChange)="onChanged()"></p-multiSelect>
      </div>
    </div>
    <div class="separator-mini"></div>
  </ng-container>


  <ng-container *ngIf="searchFilterService.selectedEntity  == 1">
    <div class="d-flex flex-row align-items-center filter-container">
      <label class="filter-label">{{'Instruments' | translate}}:</label>

      <div>
        <p-multiSelect [options]="instruments" [defaultLabel]="allTitle" [(ngModel)]="searchFilterService.selectedInstruments" [filter]="false" [scrollHeight]="'120px'"
          (onChange)="onChanged()"></p-multiSelect>
      </div>
    </div>
    <div class="separator-mini"></div>
  </ng-container>


  <ng-container *ngIf="searchFilterService.selectedEntity  == 1">
    <div class="d-flex flex-row align-items-center filter-container">
      <label class="filter-label">{{'Musician_Expirience' | translate}}:</label>

      <div>
         <p-multiSelect [defaultLabel]="allTitle" [options]="expiriences" [(ngModel)]="searchFilterService.selectedExpiriences" [filter]="false" [scrollHeight]="'120px'"
          (onChange)="onChanged()"></p-multiSelect>
      </div>
     
    </div>
  </ng-container>
</div>