@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";

.filter-main-container{
    
    width: 265px;
    border-radius: 5px;
    background-color: $lighter-main-side;
    color: $active-color;

    .filter-title-container-wrapper{
        padding: 16px 20px;
        cursor: pointer;
        z-index: 10000;
        //box-shadow: 0px 1px 20px 0px rgba( 0, 3, 6, 0.1 );

        .filter-title-container{
            font-size: 13px;
            
            font-weight: bold;
    
            .icon-filter{
                margin-right: 12px;
                margin-top: 4px;
                font-size: 15px;
            }
        }
    }

    
    
    .icon-dd-arrow, .icon-dd-arrow-down{
        color: $inactive-color;
        font-size: 12px;
        margin-top: 3px;
    }

    .filter-container{
        padding: 16px 20px;
        cursor: pointer;
        background-color: $light-main-side;
        border-radius: 5px;
        position: relative;
        

        .entity-type-label{
            margin-left: 12px;
            margin-top: -5px;
            font-size: 13px;
            font-weight: bold;
        }

        

        .legend-items-container{
            position: absolute;
            right: 300px;
            bottom: -145px;
            height: 200px;
            padding: 20px 25px;
            width: 265px;
            background-color: $lighter-main-side;
            border-radius: 5px;
        
        
            .legend-item{
                
                margin-bottom: 10px;
        
                .item-label{
                    color: $inactive-color;
                    font-size: 13px;
                }

                img{
                    width: 15px;
                    margin-right: 25px;
                }
            }

            .legend-item:hover{
                .item-label{
                    color: $active-color;
                }
            }
        }

        .legend-items-container-mobile{
            right: 0;
            bottom: -210px;
            background-color: $dark-main;
            z-index: 1005;
        }
        
        .triangle{
            position: absolute;
            right: 291px;
            bottom: 20px;
            border-style: solid;
            border-width: 10px 0px 10px 10px;
            border-color: transparent transparent transparent $lighter-main-side;
        }

        .type-container{
            padding: 5px 0;            

            span{
                height: 13px;
            }

            .icon-close{
                margin-right: 16px;
            }

            .item-label{
                color: $active-color;
                font-size: 13px;
                vertical-align: middle;
                margin-top: -5px;
            }

            img{
                width: 15px;
                margin-right: 6px;
            }
        }
    }

    .filter-property-container{
        padding: 8px 20px;
        cursor: pointer;
        background-color: $lighter-main-side;
        border-radius: 5px;
        background-color: $light-main-side;
        .filter-label{
            font-size: 13px;
            color: $inactive-color;
        }
    }
}

  