@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";

.filter-main-container{
    padding: 12px 25px;
    .filter-container{
        .filter-label{
            font-size: 13px;
            width: 120px !important;
        }

        .filter-value{
            width: 170px;
        }
    }

    .separator{
        height: 32px;
    }

    .separator-mini{
        height: 16px;
    }

    .selected-styles-container{
        margin-left: 140px;
        margin-top: 5px;
        font-size: 13px;
        flex-wrap: wrap;
    }

    .selected-instruments-container{
        margin-left: 140px;
        margin-top: 5px;
        font-size: 13px;
        flex-wrap: wrap;
    }
}

:host-context(.light) .filter-main-container{
    background-color:  $light-sub-main;
}

:host-context(.dark) .filter-main-container{
    background-color: $dark-item-hover;
}

