@import "src/assets/styles/layout.scss";

.about-full-container{
    padding: 40px 25px;
}

.about-full-container-mobile{
    padding: 18px 12px;
}

.row-container{
    height: 100%;
}

.column-container{
    margin-bottom: 12px;
}