<modal [title]="'Creation_Title'" [widthPerCent]="'64%'" [height]="'80%'">
  <div class="main-creation-container">
    <div id="creation-container" class="creation-container d-flex flex-row">
      
      <div class="left-container">

        <div class="d-flex flex-row align-items-baseline social-nets">
          <label class="property-title">{{'Creation_EntityType' | translate}}:</label>
          <select placeholder="YouTube" [(ngModel)]="creationService.selectedEntity" class="form-control secondary">
            <option *ngFor="let entity of entityTypeProvider.availableEntities" [ngValue]="entity">{{entity.title | translate}}</option>
          </select>
        </div>
        <br>
        <div class="d-flex flex-row align-items-baseline social-nets">
          <label class="property-title">{{'Creation_Login' | translate}}:</label>
          <input class="form-control secondary" [(ngModel)]="creationService.baseModel.login"/>
        </div>
        <br>
        <musician-creation *ngIf="creationService.selectedEntity.type == 1"></musician-creation>
        <band-creation  *ngIf="creationService.selectedEntity.type == 3"></band-creation>
      </div>

      <div class="right-container">
        <div class="d-flex flex-row align-items-center">
          <label class="property-title">{{'VideoLink' | translate}}:</label>
          <input placeholder="Ссылка Youtube" [(ngModel)]="creationService.baseModel.videoYoutube" class="form-control secondary" />
        </div>

        <br>

        <div class="d-flex flex-row align-items-center social-nets">
          <label class="property-title">{{'SocialNets' | translate}}:</label>
          <input placeholder="YouTube" [(ngModel)]="creationService.baseModel.youTubeLink" class="form-control secondary" />
        </div>

        <br>

        <div class="d-flex flex-row align-items-center social-nets">
          <label class="property-title"></label>
          <input placeholder="Vk" [(ngModel)]="creationService.baseModel.vkLink" class="form-control secondary" />
        </div>
        <br>
        <div class="d-flex flex-row align-items-center social-nets">
          <label class="property-title"></label>
          <input placeholder="Facebook" [(ngModel)]="creationService.baseModel.facebookLink" class="form-control secondary" />
        </div>
      </div>
    </div>
    <div class="buttons-container d-flex flex-row justify-content-end align-items-end ">
      <button routerLink="/" class="btn btn-secondary">{{'Cancel' | translate}}</button>
      <button (click)="save()" class="btn btn-success ml-3">{{'Save' | translate}}</button>
    </div>
  </div>
</modal>