@import "src/assets/styles/colors.scss";

.main-creation-container{
    width: 100%;
    padding: 2.5% 5%;

    .creation-container{
        //border-bottom: 2px solid rgba(0,0 ,0 ,0.3);
        overflow-y: auto;
        font-size: 13px;

        .left-container{
            width: 50%;
            height: 400px;
            border-right: 1px solid rgba(0,0,0,0.3);
            padding-right: 5%;
        }

        .right-container{
            width: 50%;
            height: 400px;
            
            padding-left: 5%;

            .form-control{
                color: $app-green;
            }
        }

        .form-control{
                border-radius: 0;
                border: none;
                border-bottom: 1px solid rgba(0,0,0,0.3);
                
                font-size: 14px;
                padding-left: 0;
            }

        .property-title{
            width: 45%;
            color: $app-grey;
        }

        
    }
    
    .buttons-container{
        padding-top: 25px;
        .btn{
            width: 170px;
            border-radius: 20px; 
        }
    }
}

