@import "src/assets/styles/colors.scss";

::-webkit-scrollbar {
    width: 5px;
}

.main-creation-container{
    width: 100%;
    padding: 2.5% 5%;
    height: 90%;

    .creation-container{
        font-size: 13px;
        height: 87%;
        overflow: auto;

        .left-container{
            width: 50%;
            height: 100%;
            overflow-y: auto;
            padding-right: 5%;
        }

        .separator{
            height: 100%;
            border-right:  1px solid rgba(0,0,0,0.3);
        }

        .right-container{
            width: 50%;
            height: 100%;
            
            padding-left: 5%;

            .form-control{
                color: $app-green;
            }
        }        
    }
    .buttons-container{
        height: 13%;
        .btn{
            width: 170px;
            height: 38px;
            border-radius: 20px; 
        }
    }
}

textarea{
    height: 100px;
}

.property-title{
    width: 45%;
    color: $app-grey;
}

.img-buttons{
    width: 200px;
    div{
        width: 48%;
        height: 40px !important;
        .btn, label{
            width: 100%;
        }

        .btn{
            border-radius: 20px;
        }
    }
}

.main-avatar-container{
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%; 
        margin-bottom: 25px;
    }
}

