@import "src/assets/styles/colors.scss";
@import "src/assets/styles/forms.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";

::-webkit-scrollbar {
    width: 5px;
}

.main-creation-container{
    width: 100%;
    padding: 2.5% 5%;
    height: 90%;

    .creation-container{
        font-size: 13px;
        height: 75%;
        overflow: auto;
        margin-top: 30px;
     
    }
    .buttons-container{
        height: 15%;

        .btn{
            width: 170px;
            height: 38px;
            border-radius: 20px; 
        }
    }
}



.property-title{
    width: 160px;
    color: $app-grey;
}

.property-value{
    width: 250px !important;
    color: $app-grey;
}

.img-buttons{
    width: 200px;
    div{
        width: 48%;
        height: 40px !important;
        .btn, label{
            width: 100%;
        }

        .btn{
            border-radius: 20px;
        }
    }
}

.success-container{
    text-align: center;
    font-size: 16px;
    padding:15px 0;
}

.icon{
    height: 25px;
    width: 25px
}
