<nav class="d-flex navbar navbar-toggleable  fixed-top justify-content-between">

  <div *isDesktop class="d-flex align-items-center">
    <a class="navbar-brand funkmap-title" routerLink="/">
      <img src="assets/images/logo.svg" />
    </a>
  </div>

  <div *isMobile class="d-flex align-items-center justify-content-between" style="height:100%">
    <i class="fa fa-bars" aria-hidden="true" (click)="changeSidebarVisible()"></i>
    <a class="navbar-brand funkmap-title" routerLink="/">
      <img *ngIf="!navbarService.title" src="assets/images/logo.svg" />
      <span *ngIf="navbarService.title">{{navbarService.title}}</span>
    </a>

    <span class="notification-icon-mobile d-flex align-items-center">
      <i *ngIf="userService.user" routerLink="/notifications" (click)="changeNotificationsVisibility()" class="icon-notification"></i>
      <div *ngIf="notificationsInfoService.newNotificationsCount" class="notification-count"></div>
    </span>


  </div>


  <div class="right-nav-container d-flex justify-content-between">


    <div *showItBootstrap="['xl','lg']" class="player">
      <soundcloud-player-mini></soundcloud-player-mini>
    </div>

    <ul class="navbar-nav d-flex align-items-center">

      <ng-container *showItBootstrap="['xl','lg']">
        <!--isLogged из сервиса-->
        <div *ngIf="!userService.user" class="d-flex">
          <li class="nav-item">
            <a routerLink="/signup" class="signup mr-3">{{'Navbar_SignUp' | translate}}</a>
          </li>

          <li class="nav-item ">
            <a routerLink="/login" class="login mr-3">{{'Navbar_Login' | translate}}</a>
          </li>
        </div>



        <li *ngIf="userService.user" (click)="changeNotificationsVisibility()" class="nav-item d-flex flex-row align-items-center mr-4 dropdown">
          <div class="icon-notification" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
          <div *ngIf="notificationsInfoService.newNotificationsCount" class="notification-count">{{notificationsInfoService.newNotificationsCount}}</div>
          <div onClick="event.stopPropagation();" class="dropdown-menu dropdown-menu-right notifications-container" aria-labelledby="navbarDropdownMenuLink">
            <notifications></notifications>
          </div>
        </li>

        <ng-container *ngIf="userService.user">
          <li class="nav-item dropdown ml-2">
            <a class="nav-link d-flex flex-row align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <avatar-circle [image]="userService.user.avatar" [size]="'40px'" [iconSize]="'20px'"></avatar-circle>
              <span class="ml-2">{{userService.user.login}}</span>
              <i class="fa fa-chevron-down m-2"></i>
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="changeUserAvatar()">{{'Navbar_AvatarChange' | translate}}</a>
              <a class="dropdown-item" (click)="logOut()">{{'Logout' | translate}}</a>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</nav>

<avatar-edit *ngIf="userService.user" [(visible)]="changeAvatarMode" [previousPhoto]="userService.user.avatar" (onImageUploaded)="onAvatarSaved($event)"></avatar-edit>