@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";

.navbar{
    height: 75px;
    padding-left: 35px;
    z-index:2010;
}

:host-context(.light) .navbar{
    background-color: white;
}

:host-context(.dark) .navbar{
    background-color: $dark-main;
}

.funkmap-title{
    font-weight: lighter;

    :host-context(.light) .funk{
         color: black;
    }

    :host-context(.dark) .funk{
        color: $dark-title-color;
    }

    :host-context(.light) .map{
         color: $app-green;
    }

    :host-context(.dark) .map{
        color: $dark-orange;
    }
}

.btn{
    padding-top: 5px;
    padding-bottom: 5px;
}

.image{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    
}

.no-image{
    
    img{
        width: 20px;
        height: 20px;
    }
}

:host-context(.light) .no-image{
    background-color: $light-sub-main; 
}

:host-context(.dark) .no-image{
    background-color: $dark-sub-main;
}



.dropdown{
    cursor: pointer;
}

:host-context(.dark) .nav-link{
    color: $dark-grey;
}

.right-nav-container{
    display: block;
    margin-right: 4.5%;
    font-size: 14px;
}

.fa-chevron-down{
    font-size: 10px;
}

.show-all-img{
    width: 26px;
    height: 19px;
}

li{
    cursor: pointer;
}

.notification-count{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    text-align: center;
    position: absolute;
    margin-left: 9px;
    margin-top: -9px;
}

:host-context(.light) .notification-count{
    border: 2px solid white;
    background-color: $app-red;
}

:host-context(.dark) .notification-count{
    border: 2px solid $dark-main;
    background: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);
}

.search-container{
    width: 32%;
}

.search-input-container{
    border-radius: 20px;
    border: none; 
    padding: 5px 25px;
    width: 100%;
    .form-control{
        border: none;
    }
    .icon-close{
       mask-size: 10px;
       margin-top: 6px;
    }
}

:host-context(.light) .search-input-container{
    background-color: $light-sub-main !important;
    .form-control{
        color:  $app-grey;
    }
    .icon{
        background-color: $app-grey;
    }
}

:host-context(.dark) .search-input-container{
    background-color: $dark-sub-main !important;
    .form-control{
        color: $dark-grey;
    }
    .icon{
        background-color: $dark-grey;
    }
}

.filter-button{
    width: 42px;
    height: 42px;
    padding-left: 6px;
    padding-top: 6px;
    border-radius: 50%;
    text-align: center;
}

:host-context(.light) .filter-button{
    background-color: $light-sub-main !important;
}

:host-context(.dark) .filter-button{
    background-color: $dark-sub-main !important;
}

.filter-icon{
     background-color: $app-grey;
     mask-size: 16px;
}

:host-context(.light) .selected-filter{
    background-color: $app-green;
}

:host-context(.dark) .selected-filter{
    background-color: $dark-orange-light;
}