@import "src/assets/styles/colors.scss";
@import "src/assets/styles/icons.scss";

.navbar{
    background-color: white;
    height: 75px;
    padding-left: 35px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index:2010;
}

.funkmap-title{
    .map{
        color: $app-green;
    }
}

.btn{
    padding-top: 5px;
    padding-bottom: 5px;
}

.image{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    
}

.no-image{
    background-color: #f7f7f7;
    img{
        width: 20px;
        height: 20px;
    }
}

.dropdown{
    cursor: pointer;
}

.right-nav-container{
    display: block;
    margin-right: 4.5%;
    font-size: 14px;
}

.fa-chevron-down{
    font-size: 10px;
}

.show-all-selected{
    color: $app-green !important;
}

.show-all-img{
    width: 26px;
    height: 19px;
}

li{
    cursor: pointer;
}

.notification-count{
    width: 19px;
    height: 19px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: $app-red;
    color: white;
    font-size: 10px;
    text-align: center;
    position: absolute;
    margin-left: 9px;
    margin-top: -9px;
}