<nav class="d-flex  navbar navbar-toggleable-md navbar-light bg-faded justify-content-between">
  <a class="navbar-brand funkmap-title" routerLink="/">
    <span class="funk">Funk</span> 
    <span class="map">Map</span>
  </a>
  <div>
    <ul class="navbar-nav d-flex align-items-center">

      <li class="nav-item">
        <a class="nav-link" href="#">{{'Navbar_ShowAll' | translate}}</a>
      </li>

      <!--isLogged из сервиса-->
      <ng-container *ngIf="!isLogged">
        <li class="nav-item">
          <a routerLink="/signup" class="btn btn-secondary ml-3">{{'Navbar_SignUp' | translate}}</a>
        </li>

        <li class="nav-item">
          <a routerLink="/login" class="btn btn-success ml-3">{{'Navbar_Login' | translate}}</a>
        </li>
      </ng-container>

      <ng-container *ngIf="isLogged">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          username
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/settings">{{'Navbar_Settings' | translate}}</a>
            <a class="dropdown-item" href="#">{{'Navbar_Help' | translate}}</a>
            <a class="dropdown-item" href="#">{{'Navbar_Logout' | translate}}</a>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>