<div *ngIf="dialog" class="dialog-container d-flex flex-row align-items-center" [class.selected-dialog]="dialogService.dialog && dialogService.dialog.dialogId == dialog.dialogId">

  <div class="image-container">
   <div *ngIf="!dialog.image" class="no-image d-flex align-items-center justify-content-center"><img src="/assets/images/no-name.svg"></div>
   <img *ngIf="dialog.image" src="data:image/png;base64,{{item.image}}" />
   <div class="online-circle" *ngIf="dialog.isOnline"></div>
  </div>

  <div class="middle-container d-flex flex-column">
    <div class="dialog-name">{{dialog.name}}</div>
    <div *ngIf="dialog.lastMessage" class="last-message">{{dialog.lastMessage.text}}</div>
  </div>

  <div class="right-container d-flex flex-column align-items-end">
    <div *ngIf="dialog.lastMessage" class="last-message-date">{{dialog.lastMessage.dateString}}</div>
    <div class="message-circle-container d-flex align-items-start"><span *ngIf="dialog.newMessagesCount > 0" class="badge badge-pill message-circle">{{dialog.newMessagesCount}}</span></div>
  </div>

</div>