<div *ngIf="dialog" class="dialog-container d-flex flex-row align-items-center" [class.selected-dialog]="dialogService.dialog && dialogService.dialog.dialogId == dialog.dialogId">

  <avatar-circle [image]="dialog.avatar" [size]="'60px'" [iconSize]="'35px'" [isOnline]="dialog.isOnline"></avatar-circle>

  <div class="middle-container d-flex flex-column">
    <div class="dialog-name">{{dialog.name}}</div>
    <div *ngIf="dialog.lastMessage" class="last-message">{{dialog.lastMessage.text}}</div>
  </div>

  <div class="right-container d-flex flex-column align-items-end">
    <div *ngIf="dialog.lastMessage" class="last-message-date">{{dialog.lastMessage.date | dateNotification}}</div>
    <div class="message-circle-container d-flex align-items-center">
      <span *ngIf="dialog.lastMessage && dialog.lastMessage.sender != userService.user.login && dialog.newMessagesCount > 0" class="badge badge-pill message-circle">{{dialog.newMessagesCount}}</span>
      <span *ngIf="dialog.lastMessage && dialog.lastMessage.sender == userService.user.login && dialog.lastMessage.isNew" class="new-circle"></span>
    </div>
  </div>

</div>