@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";


.dialog-container{
    width: 350px;
    height: 82px;
    cursor: pointer;
    padding: 12px 24px;

    .middle-container{
        width: 184px;
        font-size: 13px;
        height: 90%;
        .dialog-name, .last-message{
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
            
        }

        .dialog-name{
            color: $dialog-name-color; 
            height: 50%; 
        }

        .last-message{
            color: $dark-title-color;
            height: 50%;   
        }
    }

    .right-container{
        width: 45px;
        height: 90%;

        .last-message-date{
            font-size: 13px;
            color: $dark-title-color;
            height: 50%;  
        }

        .message-circle-container{
            height: 50%;  

            span{
                margin-top: -6px;
            }

            .message-circle{
                min-height: 16px;
                min-width: 16px;
                font-size: 10px !important;
                
            }
        }
        
        .new-circle{
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #8e999f;
        }
        

        :host-context(.light) .message-circle{
            background-color: $app-red;
        }

        :host-context(.dark) .message-circle{
            background: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);

        }
    }

    .dialog-avatar{
        margin-right: 10px;
    }
}

.dialog-container:hover, .selected-dialog{
    background-color: $dialog-background;

   /deep/ .online-circle{
        border: 2px solid $dialog-background !important;
    }
     
}