@import "src/assets/styles/icons.scss";

.no-image{
    width: 165px;
    height: 165px;
    
    border-radius: 50%; 
    background-color: lightgray;
}

.musician-name-container{
    padding: 25px;
    font-size: 22px;
}

.musician-details-container{
    width: 100%;
    //overflow-y: auto;
}

.property-title{
    width: 150px;
    text-align: left;
    padding-left: 20px;
}

.property-value{
    width: calc(100% - 150px);
    margin-bottom: 20px;
}

