<entity-side *ngIf="musician"
              [item]="musician"
              [styles]="musician.styles"
              [expirience]="musician.expirience"></entity-side>

 <!--<div  class="d-flex flex-row">
        <label class="property-title">Описание:</label>
        <label class="property-value">{{musician.description}}</label>
      </div>-->
      <!--todo вынести на отдельную страницу-->
       <!--<youtube-player [playerId]='"player"' [width]="200" [height]="100" [videoId]='"vntAEVjPBzQ"'> </youtube-player>-->