<div class="modal-outlet d-flex align-items-center justify-content-center" [class.background]="backgroundEnabled" > 
  <div class="modal-container d-flex flex-column" 
  [style.min-width]="minWidth" 
  [style.width]="width" 
  [style.height]="height">
    <div *ngIf="canClose" class="d-flex justify-content-end close-container">
      <span (click)="close()" class="icon icon-close"></span>
    </div>
    <div class="title-container d-flex justify-content-center align-items-center">
      <span>{{title | translate}}</span>
    </div>
    <ng-content ></ng-content>
   
  </div>
</div>