@import "src/assets/styles/forms.scss";
@import "src/assets/styles/dark-colors.scss";

.main-avatar-container{
    margin-bottom: 30px;

    .add-delete-container{
        width: 415px;
        .action-container{
            cursor: pointer;
             .icon-rubbish-bin{
                font-size: 18px;
                color: $inactive-color;
                height: 24px;
            }

            span{
                margin-left: 18px;
                font-size: 16px;
                color: $inactive-color;
            }
        }

        .action-container:hover{
            span{
                color: $active-color;
            }

            .icon-rubbish-bin{
                color: $dark-orange-light;
            }
        }
       
    }

    .avatar-buttons-container{
        margin-top: 48px;
        width: 250px;

        .btn-success{
            width: 110px;
        }
    }

    .confirmation-label{
        color: $active-color;
        font-size: 16px;
    }

    .cropper-container{
        padding: 0 0px;
        img{
            width: 100%;
            max-height: 350px !important;
        }
    }
}

.main-avatar-container-mobile{
    position: relative;

    .add-delete-container{
        width: 100%;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;

        .action-container{
            margin-top: 24px;
        }
    }

    .confirmation-label{
        text-align: center;
    }

    .avatar-buttons-container{
        margin-top: 20px;
    }

    .cropper-container{
        padding: 0 0px;
        img{
            width: 100%;
            max-height: 300px !important;
        }
    }
}


p-fileupload{
    height: 24px;
    display: flex;
    align-items: center;
}

/deep/ .ui-fileupload-choose{
   span{
    color: $inactive-color;
   }  

   .fa{
    font-size: 18px;
    margin-left: -10px !important;
   }
}

/deep/ .ui-fileupload-choose:hover{
     color: $active-color !important;


    .ui-button-text .ui-clickablet, span{
        color: $active-color !important;
    }

    span.fa{
        color: $dark-orange-light !important;
    }
} 

.img-buttons{
    width: 400px;
    div{
        width: 48%;
        height: 40px !important;
        .btn, label{
            width: 100%;
        }
    }
}

