@import "src/assets/styles/layout.scss";
.main-content{
    width: 100%;
    height: 100%;
}

.main-container{ 
    width: 100%;
    height: 100%;
    //height: calc(100% - 75px); //75 - высота навбара
}