@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/base.scss";


.entity-info-container{
    width: 500px;
    background-color: $dark-card-background;
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px; 
    margin-left: 8px;
    height: 100%;
}

.property-title{
    margin-bottom: 5px;
    width: 120px;
    color: $inactive-color;
}

.property-value{
    width: 300px;
}

.all-properties-contaiiner{
    height: 1px;
    flex: 2;
    //overflow-y: auto;
}

.info-title-container{
    margin-bottom: 40px;
}

.entity-info-container-mobile{
    height: auto;
    width: 100%;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;

    .info-title-container{
        font-size: 20px;
    }

    .property-container{
        flex-direction: column !important;
        margin-bottom: 30px;
        span, div{
            font-size: 16px;
        } 
    }

    .property-title{
        width: 100%;
        font-size: 14px;
    }
    
    .all-properties-contaiiner{
        display: block;
        height: auto;
        padding-bottom: 24px;
    }

    .edit-buttons-container{
        span{
             font-size: 14px;
        } 
     }
}