<div class="musician-info-container d-flex flex-column">
  <div class="info-title-container">
    {{'Information' | translate}}
  </div>
  <div *ngFor="let item of items" class="d-flex flex-column">
    <div class="d-flex flex-row property-container">
      <span class="property-title">{{item.propertyTitle | translate}}:</span>
      <span *ngIf="!item.propertyTemplate" class="property-value">{{item.propertyValue | translate}}</span>
      <ng-template *ngIf="item.propertyTemplate" [ngTemplateOutlet]="item.propertyTemplate"></ng-template>
    </div>
  </div>
</div>