@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";


.dialogs{
    background-color: $dark-card-background;
    flex: 2;
    position: relative;
    height: 1px;
}

.search-text-container{
    border-bottom: 1px solid #ececec;
    padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    .form-control{
        border: none !important;
    }
}

.title-container{
    padding: 12px 25px;
    font-size: 16px;
    color: $active-color;
    height: 50px;
    display: block;
}


.icon-plus{
    color: $inactive-color;
}
.icon-plus:hover{
    color: $dark-orange;
}

.no-dialogs{
    font-size: 13px;
    color: $dark-title-color;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}