
<div class="search-text-container">
  <div class="search-input d-flex flex-row align-items-center">
    <span class="icon-search mr-3"></span>
    <input placeholder="{{'Search_Placeholder' | translate}}" class="form-control" [(ngModel)]="searchTest" (ngModelChange)="filterDialogs()" />
  </div>
</div>

<div class="title-container d-flex flex-row justify-content-between">
  <span>{{'Messages' | translate}}</span>
  <span *ngIf="!isMobile" (click)="toCreateDialogMode()" class="icon-plus"></span>
</div>

<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="dialogs">
    <dialog-item *ngFor="let dialog of dialogService.dialogs" (click)="navigateDialog(dialog)" [dialog]="dialog"></dialog-item>
    <div *ngIf="!dialogService.dialogs || dialogService.dialogs.length == 0" class="no-dialogs">{{'Dialogs_NoDialogs' | translate}}</div>
</div>


<dialog-invite *ngIf="isCreateDialogMode" [(visible)]="isCreateDialogMode" [creationMode]="true"></dialog-invite>
