@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/forms.scss";


.dialogs-container{
    background-color: $dark-card-background;
    height: 690px;
    overflow-y: auto;
}

.search-text-container{
    border-bottom: 1px solid #ececec;
    padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    .form-control{
        border: none !important;
    }
}

.title-container{
    padding: 6px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: $active-color;
}


.icon-plus{
    color: $inactive-color;
}
.icon-plus:hover{
    color: $dark-orange;
}

::-webkit-scrollbar {
    width: 0px;
}