@import "src/assets/styles/colors.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";

.item-content-container{
    width: $sidebar-item-content-width;
    min-width: 320px;
    height: calc(100% - 75px);
    margin-top: 75px;
    margin-left:  $sidebar-global-size;
    
    position: absolute;
    top:0;
    z-index: 1002;
    background-color: white;
}

.main-side-title{
    font-weight: 500;
    font-size: 18px;
}

.title-container{
    padding: 15px 25px;
}

.side-main-content{
    height: 100%;
}

.close-container{
    position: absolute;
    z-index: 2000000;
    right: 24px;
    top: 15px;
}

.star-icon{
    background-color: red;
}



