@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";

.item-content-container{
    width: $sidebar-item-content-width;
    min-width: 320px;
    height: calc(100% - 75px);
    margin-top: 75px;
    
    position: absolute;
    top:0;
    z-index: 1002;
    background-color: white;
}

.item-content-container-mobile{
    height: calc(100% - 75px);
    margin-top: 75px;
    
    position: absolute;
    top:0;
    z-index: 1002;
    background-color: white;

    width: 100%;
}

.main-side-title{
    font-size: 16px;
    color: $active-color;
}

.title-container{
    padding: 15px 25px;
    height: 60px;
}

.side-main-content{
   flex: 2;
}

.close-container{
    position: absolute;
    z-index: 2000000;
    right: 24px;
    top: 15px;
}

.star-icon{
    background-color: red;
}



