<entity-info [items]="infoItems" (onCanceled)="cancel()" (onSaved)="save()"></entity-info>

<ng-template #dateTemplate>
    <span class="date-value">{{this.musician.birthDate | datex: "DD MMMM YYYY"}}</span>
</ng-template>


<ng-template #instrumentEditTemplate>
    <p-dropdown [options]="instruments" [(ngModel)]="newMusician.instrument" ></p-dropdown>
</ng-template>

<ng-template #sexEditTemplate>
    <div class="d-flex flex-row sex-container">
        <div class="mr-4 d-flex align-items-center" *ngFor="let sexType of musicianTypesProvider.sexTypes.keys()">
            <input type="radio" name="reportType" id="reportType{{sexType}}" [(ngModel)]="newMusician.sex" [value]="sexType">
            <label class="radio-label" for="reportType{{sexType}}">{{musicianTypesProvider.sexTypes.getValue(sexType) | translate}}</label>
        </div>
    </div>
</ng-template>

<ng-template #expirienceEditTeplate>
    <p-dropdown [options]="expiriences" [(ngModel)]="newMusician.expirience"></p-dropdown>
</ng-template>


<ng-template #descriptionEditTemplate>
    <div>
        <textarea [(ngModel)]="newMusician.description" class="form-control secondary"></textarea>
    </div>
   
</ng-template>

<ng-template #dateEditTemplate>
    <div class="d-flex flex-row date-container">
        <input class="form-control date-select days mr-3" type="number" min="1960" max="2017" [(ngModel)]="dateProvider.day" />
        <p-dropdown class="month-dropdown mr-3" [options]="dateProvider.months" [(ngModel)]="dateProvider.month"></p-dropdown>
        <input class="form-control date-select years" type="number" min="1960" max="2017" [(ngModel)]="dateProvider.year" />
    </div>
</ng-template>

<ng-template #stylesEditTemplate>
        <p-multiSelect [options]="styles" [(ngModel)]="newMusician.styles" [filter]="false"></p-multiSelect>
    
</ng-template>