@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";


.date-value{
    font-size: 13px;
    width: 300px;
}


.sex-container{
    width: 100%;
    height: 20px;
}
.sex-radio{
    width: 40%;
}

.radio-label{
    font-size: 13px;
}

textarea{
    height: 100px;
}

.date-container{
    width: 100%;
}

.days{
    width: 20%;
}

.years{
    width: 30%;
}

.months{
    width: 50%;
}

/deep/ .ui-multiselect-label-container, /deep/ .ui-multiselect-panel, /deep/ .ui-dropdown-panel, /deep/ .ui-dropdown{
    width: 310px !important;
}

.month-dropdown{
    /deep/ .ui-multiselect-label-container, /deep/ .ui-multiselect-panel, /deep/ .ui-dropdown-panel, /deep/ .ui-dropdown{
        width: 180px !important;
    }
}

textarea{
    height: 120px !important;
}