<div class="d-flex flex-row align-items-baseline">
  <label class="property-title">{{'Musician_Name' | translate}}:</label>
  <input [class.error]="wasSubmit && !creationService.musician.name" [(ngModel)]="creationService.musician.name" class="form-control secondary" />
</div>
<br>
<div class="d-flex flex-row align-items-baseline">
  <label class="property-title">{{'Musician_BirthDate' | translate}}:</label>
  <div class="d-flex flex-row date-container">
    <input class="form-control date-select days mr-3" type="number" min="1960" max="2017" [(ngModel)]="dateProvider.day" />

    <select [(ngModel)]="dateProvider.month" class="form-control date-select months mr-3">
              <option *ngFor="let month of dateProvider.months" [ngValue]="month">{{month.title}}</option>
            </select>
    <input class="form-control date-select years" type="number" min="1960" max="2017" [(ngModel)]="dateProvider.year" />
  </div>
</div>
<br>
<div class="d-flex flex-row align-items-baseline">
  <label class="property-title sex-label">{{'Musician_Sex' | translate}}:</label>
  <div class="d-flex flex-row" style="width:100%;">
    <div class="mr-4 d-flex align-items-center" *ngFor="let sexType of musicianTypesProvider.sexTypes.keys()">
      <input type="radio" name="reportType" id="reportType{{sexType}}" [(ngModel)]="creationService.musician.sex" [value]="sexType">
      <label class="radio-label" for="reportType{{sexType}}">{{musicianTypesProvider.sexTypes.getValue(sexType) | translate}}</label>
    </div>
  </div>

</div>
<br>
<div class="d-flex flex-row">
      <label class="property-title">{{'Musician_Instrument' | translate}}:</label>
      <div class="d-flex align-content-start flex-wrap" style="width:100%;">
        <div [class.error]="wasSubmit && !creationService.musician.instrument" *ngFor="let instrument of iconProvider.icons.keys(); let i=index"
          class="instrument d-flex align-items-center justify-content-center" [class.instrument-selected]="creationService.musician.instrument == instrument"
          (click)="selectInstrument(instrument)">
          <img src="{{iconProvider.icons.getValue(instrument)}}" />
        </div>
      </div>
  </div>
<br>
<div class="d-flex flex-row align-items-baseline">
  <label class="property-title">{{'Musician_Styles' | translate}}:</label>
  <div class="d-flex flex-column selected-styles-container">
    <select [(ngModel)]="currenSelectedStyle" class="form-control mr-3" (ngModelChange)="onStyleChanged()">
        <!--<option></option>-->
        <option *ngFor="let style of styles.keys()" [ngValue]="style">{{musicianTypesProvider.musicStyles.getValue(style)}}</option>
      </select>
    <br>
    <div class="d-flex flex-row">
      <div *ngFor="let musicianStyle of creationService.musician.styles" class="musician-style d-flex align-items-center mr-3">
        <div (click)="removeStyle(musicianStyle)" class="icon icon-close-red mr-2"></div>
        <span>{{musicianTypesProvider.musicStyles.getValue(musicianStyle)}}</span>
      </div>
    </div>
  </div>
</div>

<br>
<div class="d-flex flex-row align-items-top">
  <label class="property-title">{{'Musician_Description' | translate}}:</label>
  <textarea [(ngModel)]="creationService.musician.description" class="form-control secondary"></textarea>
</div>