<div class="entity-map-container" (mouseover)="changeEditVisible(1)" (mouseleave)="changeEditVisible(-1)">
  <div class="leaflet-map" id="map-mini"></div>
  <div class="map-info-container">
    <div class="info-title-container d-flex justify-content-between">
      <span>{{'Information' | translate}}</span>
      <div class="edit-buttons-container">
        <span *ngIf="isEditVisible && !isEditMode" (click)="changeEditMode(1)">{{'Edit' | translate}}</span>
        <span *ngIf="isEditMode" (click)="cancel()">{{'Cancel' | translate}}</span>
        <span *ngIf="isEditMode" (click)="save()" class="save-button">{{'Save' | translate}}</span>
      </div>
    </div>
    <div *ngIf="!isEditMode" class="address-container d-flex flex-row">
      <span class="icon icon-middle pin-icon mr-2"></span>
      <span *ngIf="!mapCreationService.address">{{address}}</span>
      <span *ngIf="mapCreationService.address">{{mapCreationService.address}}</span>
    </div>

    <div *ngIf="isEditMode" class="d-flex address-container property-container flex-column">
      <span class="property-title">{{'Address' | translate}}:</span>
      <input placeholder="{{'Address' | translate}}" [(ngModel)]="mapCreationService.address" class="form-control secondary" />
    </div>
  </div>
</div>