
@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";
@import "src/assets/styles/forms.scss";

.entity-map-container{
    width: 300px;
    height: 618px;
    background-color: $dark-card-background;
    border-radius: 5px; 
    margin-left: 8px;

    .leaflet-map{
        width: 300px;
        height: 375px;
        border-radius: 5px; 
    }

    .map-info-container{

        padding-top: 30px;
        padding-left: 24px;
        padding-right: 24px;

        .info-title{
            font-size: 16px;
            color: #7a7a7b;
        }

        .address-container{
            margin-top: 10px;
            font-size: 13px;
            color: $dark-title-color;
        }

        .icon-info{
             color: $dark-title-color;
        }

        .icon-info:hover{
            color: $active-color;
        }
    }
}

.save-button{
    margin-left: 16px !important;
}

.property-title{
    width: 60px;
}
