<div class="main-messenger-container d-flex flex-row justify-content-center align-items-center">
    <div class="dialogs-container">
        <dialogs></dialogs>
    </div>
    <div *ngIf="dialogService.dialog" class="d-flex flex-column messages-container">
        <dialog-bar></dialog-bar>
        <messages></messages>
        <message-create></message-create>
    </div>

    <div *ngIf="!dialogService.dialog" class="d-flex messages-empty-container align-items-center justify-content-center">
        <span class="empty">{{'Dialogs_Empty' | translate}}</span> 
    </div>
   
</div>
