$dialog-background: #f4f6fa;

$messenger-height: 91%;

.main-messenger-container{
    
    height: 100%;
    border: 1px solid black;

    .messages-container{
        width: 820px;
        height: $messenger-height;
        background-color: #f4f6fa;
    }

    .dialogs-container{
        width: 350px;
        height: $messenger-height;
        background-color: #f4f6fa;
        border-radius: 5px;
        margin-right: 8px; 
    }
}

