@import "src/assets/styles/dark-colors.scss";

$messenger-height: 95%;

.dialogs-component{
    height: 100%;
}

.main-messenger-container{
    
    height: 100%;
    padding-top: 20px;

    .messages-container{
        width: 720px;
        height: $messenger-height;

        .messages{
            display: flex;
            flex: 2;
        }

    }

    .messages-empty-container{
        width: 720px;
        height: $messenger-height;
        background-color: $dark-card-background;
        border-radius: 5px;

        .empty{
            font-size: 16px;
            color: $dark-title-color;
        }
    }

    .dialogs-container{
        width: 350px;
        height: $messenger-height;

        background-color: $dark-card-background;
        border-radius: 5px;
        margin-right: 8px; 
    }  
}

.main-messenger-container-mobile{
    padding-top: 0;
    .dialogs-container{
        width: 100%;
        margin-right: 0px; 
        height: 100%;
        
    }  

    .messages-container{
        width: 100%;
        height: 100%;
    }
}

