@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";

.sidebar-item{
    cursor: pointer;
    font-size: 20px;
}

:host-context(.light) .icon{
    background-color: #85878c;
}

:host-context(.dark) .icon{
    background-color: $dark-icon;
}

:host-context(.light) .selected-icon{
    background-color: $app-green;
}

:host-context(.dark) .selected-icon{
    background-color: white !important;
}

.menu-text{
    font-size: 13px;
    height: 20px;
    padding-left:18px;
    cursor: pointer;
}

:host-context(.light) .menu-text{
     color: $app-grey;
}

:host-context(.dark) .menu-text{
    color: $dark-grey;
}

:host-context(.light) .selected-text{
     color: $app-green;
}

:host-context(.dark) .selected-text{
    color: white;
}

.message-circle{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: 12px;
    
}

:host-context(.light) .message-circle{
     background-color: $app-red;
}

:host-context(.dark) .message-circle{
    background: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);

}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}

#wrapper.toggled {
    padding-left: $sidebar-global-size;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-global-size;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-global-size;
    overflow-y: auto;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}

:host-context(.light) #sidebar-wrapper{
    background: $light-main-side;
}

:host-context(.dark) #sidebar-wrapper{
    background: $dark-main-side;
}

.sidebar-nav{
    position: absolute;
    top: 0;
    width: $sidebar-global-size;
    margin: 0;
    padding: 0;
    padding-top: 18px; 
    list-style: none;
}

.sidebar-nav-bottom{
    position: absolute;
    bottom: 0px;
    width: $sidebar-global-size;
    margin: 0;
    padding: 0;
    padding-bottom: 140px; 
    list-style: none;
}

.sidebar-item{
    margin: 0;
    padding-left: 35px;
    height: 43px;
}


:host-context(.light) .sidebar-item:hover{
     background-color: #f7f7f7;
}

:host-context(.dark) .sidebar-item:hover{
     background-color: $dark-sub-main;
}



.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: $sidebar-global-size;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        
        width: $sidebar-global-size;
    }
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}

