@import "src/assets/styles/colors.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";

.sidebar-item{
    color: $app-green;
    cursor: pointer;
    font-size: 20px;
}

.menu-text{
    font-size: 13px;
    color: $app-grey;
    height: 20px;
    padding-left:18px;
    cursor: pointer;
}

.message-circle{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $app-red;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: 12px;
    
}

.add-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1002;
    position: absolute;
    bottom: 70px;
    left:  $sidebar-global-size + 60px;
    font-size: 30px;
    text-align: center;
    font-weight: lighter !important;
    box-shadow: 0 7px 30px rgba(0,0,0,0.5);
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}

#wrapper.toggled {
    padding-left: $sidebar-global-size;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-global-size;
    width: 0;
    height: 100%;
    margin-left: -$sidebar-global-size;
    overflow-y: auto;
    background: #eeeeee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 3px 2px 5px rgba(0,0,0,0.3);
    
}

.sidebar-nav{
    position: absolute;
    top: 0;
    width: $sidebar-global-size;
    margin: 0;
    padding: 0;
    padding-top: 18px; 
    list-style: none;
}

.sidebar-nav-bottom{
    position: absolute;
    bottom: 0px;
    width: $sidebar-global-size;
    margin: 0;
    padding: 0;
    padding-bottom: 140px; 
    list-style: none;
}

.sidebar-item{
    margin: 0;
    padding-left: 35px;
    height: 43px;
}

.selected{
    background-color: #f7f7f7;
}

.sidebar-item:hover{
    background-color: #f7f7f7;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: $sidebar-global-size;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        
        width: $sidebar-global-size;
    }
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
}