<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper"> 
    <ul class="sidebar-nav d-flex flex-column align-items-left">
      <li class="d-flex align-items-center">
       <span class="icon icon-middle search-icon"></span>
       <span class="menu-text">Поиск</span>
      </li>

      <li class="d-flex align-items-center">
       <span class="icon icon-middle person-icon"></span>
       <span class="menu-text">Персона</span>
      </li>

      <li class="d-flex align-items-center">
       <span class="icon icon-middle messenger-icon"></span>
       <span class="menu-text">Сообщения</span>
       <span class="message-circle">4</span>
      </li>
    </ul>

    <ul class="sidebar-nav-bottom d-flex flex-column align-items-left">
      <li routerLink="/settings" class="d-flex align-items-center">
       <span class="icon icon-middle settings-icon"></span>
       <span class="menu-text">Настройки</span>
      </li>

      <li class="d-flex align-items-center">
       <span class="icon icon-middle exit-icon"></span>
       <span class="menu-text">Выход</span>
      </li>
    </ul>
  </div>
</div>