<modal *isDesktop (keyup.enter)="logIn()" [title]="'Login_Entrance'" [width]="'430px'" [height]="'350px'">
  <ng-template [ngTemplateOutlet]="loginTemplate"></ng-template>
</modal>

<modal *isMobile (keyup.enter)="logIn()" [title]="'Login_Entrance'" [width]="'96%'" [height]="'350px'">
  <ng-template [ngTemplateOutlet]="loginTemplate"></ng-template>
</modal>

<ng-template #loginTemplate>
  <div class="d-flex align-itens-center justify-content-center">
    <div class="login-container d-flex flex-column">
      <div class="login-input-container">
        <input type="text" placeholder="{{'Login_Login' | translate}}" class="form-control" [(ngModel)]="login" [class.error-form-control]="wrongCreds"
        />
        <label *ngIf="wrongCreds" class="error-label">{{'Login_WrongCreds' | translate}}</label>
      </div>
      <div class="password d-flex justify-content-between align-items-baseline">
        <input  autocomplete="new-password" placeholder="{{'Login_Password' | translate}}" type="password" [(ngModel)]="password" class="form-control" [class.error-form-control]="wrongCreds"
        />
      </div>
      <div class="d-flex flex-row justify-content-between login-buttons-container">
        <button routerLink="/restore" class="btn btn-secondary">{{'Login_ForgotPassword' | translate}}</button>
        <button (click)="logIn()" class="btn btn-success">{{'Login_ToLogIn' | translate}}</button>
      </div>
    </div>
  </div>
</ng-template>