@import "src/assets/styles/colors.scss";
@import "src/assets/styles/forms.scss";

$container-width:310px;

.login-container{
    color: $app-grey;
    font-size: 14px;
    margin-top: 50px; 
    width: $container-width;
}

.login-container > div{
    width: 100%;
    margin-bottom: 40px;
}

.login-buttons-container{
    button{
        width: 48%;
        height: 44px;
        border-radius: 22px; 
        text-align: center;
    }

    .btn-secondary{
        font-size: 14px;
    }
}

.property-title{
    min-width: 100px;
}

.spacer{
    height: 26px;
    widows: 10px;
}

.login-input-container{
    height: 50px;
    margin-bottom: 10px !important;
}