<modal [title]="'Вход'">
  <div class="login-container d-flex flex-column">
    <div class="login">
      <div class="d-flex justify-content-between align-items-center">
        <label>Логин</label>
        <label *ngIf="wrongCreds" class="error-label">Неверный логин или пароль</label>
      </div>
      <input class="form-control" [(ngModel)]="login" [class.error-control]="wrongCreds"/>
    </div>
    <br>
    <div class="password">
      <label>Пароль</label>
      <input type="password" [(ngModel)]="password" class="form-control" [class.error-control]="wrongCreds"/>
    </div>
    <br><br>
    <div class="d-flex flex-row justify-content-between login-buttons-container">
      <button class="btn btn-secondary">Забыли пароль?</button>
      <button (click)="logIn()" class="btn btn-success">Войти</button>
    </div>
  </div>
</modal>
