@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";

.feedback-container{
    
    width: 350px;
    height: 470px;
    background-color: $dark-card-background;
    padding: 55px;
    border-radius: 5px; 
    color: $active-color; 
    margin-bottom: 8px;


    .feedback-title{
        font-size: 20px;
        margin-bottom: 30px;
        height: 40px;
    }

    .property-title{
        margin-bottom: 6px;
    }

    textarea{
        height: 120px !important;
        resize: none;
        border-bottom: 1px solid #dddfe1 !important;
    }

    textarea::-webkit-input-placeholder{
        color: $inactive-color; 
        font-size: 13px;
    }

    .uploaded-file{
        margin-bottom: 6px;
        position: relative;

        .icon-file{
            font-size: 16px;
        }

        span, div{
            height: 18px;
            margin-right: 6px;
            font-size: 13px;
            color: $inactive-color;
            max-width: 120px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }

        .fa-close{
            width: 9px;
            position: relative;
        
        }
    }

    .create-button{
        width: 175px;
        margin-top: 20px;
        background: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);
        text-align: center;
    }
}

.is-sent{
    color: $app-green;
    font-size: 12px;
}

.is-not-sent{
    color: red;
    font-size: 12px;
}   

.code-label{
    img{
        margin-right: 12px;
    }
}