
<div class="avatar-circle-container">
  <div *ngIf="image" class="image-container" [style.width]="size" [style.height]="size">
    <img src="data:image/png;base64,{{image}}"  [style.width]="size" [style.height]="size"/>
  </div>
  
  <div *ngIf="!image" class="image-container no-image d-flex align-items-center justify-content-center"  [style.width]="size" [style.height]="size">
    <img *ngIf="!useLogo" src="/assets/images/no-name.svg" [style.width]="iconSize" [style.height]="iconSize" />

    <span *ngIf="useLogo" class="icon-logo-symbol" [style.font-size]="iconSize" [style.height]="iconSize"></span>
  </div>
  
  <div class="online-circle" [style.width]="onlineSize" *ngIf="isOnline"></div>
</div>

