@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";

$user-message-background-color: #353b47;
$foreign-message-background-color: #e4eaf0;

$user-message-color: #a1a8b8;
$foreign-message-color: #6e6f72;

$image-width: 36px;

.main-message-wrapper{
    margin-bottom: 12px;
}

.main-message-container{
    padding: 0px 24px;
    display: inline-block;
    .message-container{
        .message-content{
            max-width: 520px;
            border-radius: 18px;
            padding: 8px 24px;
            font-size: 13px;
        }

        .user-message-content{
            color: $user-message-color;
            background-color: $user-message-background-color;
        }

        .foreign-message-content{
            color: $foreign-message-color;
            background-color: $foreign-message-background-color;
        }

        .message-avatar{
            margin-right: 20px;
        }
    }

    .date-container{
        position: relative;
        right: 0;
        display: block;
        font-size: 11px;
        padding: 8px 0px;
        color: $dark-title-color;

        .new-circle-container{
            width: 24px;
            .new-circle{
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #8e999f;
            }
        }
    }
}

.user-main-message-container{
    //float: right;
}

.anonim-message-container{
    padding: 6px 0;
    .anonim-message-text{
        font-size: 13px;
        color: $dark-title-color;
    }
}




