@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";


.entity-base-container{
    
    width: 300px;
    height: 550px;
    background-color: $dark-card-background;
    padding-top: 24px;
    padding-bottom: 0px;
    border-radius: 5px; 

    .edit-buttons-container{
        height: 20px;
        width: 100%;
        margin-bottom: 20px;
        padding-right: 24px;
    }

    .image-container-wrapper{
        margin-bottom: 20px;
    }

    .image-container{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        img{
            border-radius: 50%;
            width: 180px;
            height: 180px;
        }
    }

    .no-image{
        img{
            width: 120px;
            height: 120px;
        }
    }

    :host-context(.light) .no-image{
        background-color: $light-sub-main; 
    }

    :host-context(.dark) .no-image{
        background-color: $dark-sub-main;
    }

    .name-container{
        font-size: 20px;
        color: $dark-font-color;
        font-weight: 0;
    }

    .sub-info-container{
        font-size: 13px;
        color: #b6bec5;
        margin-bottom: 20px;
    }

    .buttons-container{
        .btn{
            width: 180px;
            height: 35px;
            font-size: 13px;
            margin-bottom: 15px;
        }
    }

    .nets-container{
        margin-top: 25px; 
    }


    .edit-container{
        width: 100%;
        padding: 25px;

        .property-title{
            width: 100px;
        }

        .property-value{
            width: 180px;
        }

         div:first-child{
            margin-bottom: 10px;
        }
    }

   
}

