@import "src/assets/styles/icons.scss";

.modal-outlet{
    z-index: 20000;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
     
}

.modal-container{
    width: 30.5%;
    min-width: 500px;
    background-color: white;
    border-radius: 5px;
}


.close-container{
    padding-top: 20px;
    padding-right: 20px;
}

.title-container{
    font-size: 22px;
    font-weight: 500;
}