<modal [title]="'Регистрация'">
  <div class="d-flex flex-row circle-container justify-content-center">
    <div [class.circle-selected]="currentStep == 1" class="circle d-flex align-items-center justify-content-center">1</div>
    <div [class.circle-selected]="currentStep == 2" class="circle d-flex align-items-center justify-content-center circle-center">2</div>
    <div [class.circle-selected]="currentStep == 3" class="circle d-flex align-items-center justify-content-center">3</div>
  </div>
  <div class="registration-container d-flex flex-column">
    <ng-container *ngIf="currentStep == 1">
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <label>Логин</label>
          <label *ngIf="existingLogin" class="error-label">Такой логин уже существует</label>
        </div>
        <input class="form-control" [(ngModel)]="login" [class.error-control]="existingLogin" />
      </div>
      <br>
      <div>
        <label>Пароль</label>
        <input type="password" [(ngModel)]="password" class="form-control" [class.error-control]="wrongCreds" />
      </div>
      <br>
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <label>Повторите пароль</label>
          <label *ngIf="passwordsAreNotMacthing" class="error-label">Пароли не совпадают</label>
        </div>

        <input type="password" [(ngModel)]="passwordRepeat" class="form-control" [class.error-control]="passwordsAreNotMacthing"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="currentStep == 2">
      <div class="d-flex flex-row justify-content-between align-items-end email-container">
        <div class="email">
          <label>Ваш e-mail</label>
          <input [(ngModel)]="email" class="form-control" [class.error-control]="wrongCreds" />
        </div>
        <div class="code">
          <button (click)="sendCode()" class="btn btn-secondary">Отправить код</button>
        </div>
      </div>
      <br>
      <div class="d-flex flex-row justify-content-between align-items-end email-container">
        <div class="email">
          <label>Код подтверждения</label>
          <input [(ngModel)]="code" class="form-control" [class.error-control]="wrongCreds" />
        </div>
      </div>
      <!--сделать фиксированный размер-->
      <br><br><br><br>
    </ng-container>

    <br><br>
    <div class="d-flex flex-row justify-content-between registration-buttons-container">
      <button *ngIf="currentStep == 1" (click)="cancel()" class="btn btn-secondary">Отмена</button>
      <button *ngIf="currentStep == 2 || currentStep == 3" (click)="moveBack()" class="btn btn-secondary">Назад</button>
      <button (click)="moveNext()" class="btn btn-success">Далее</button>
    </div>

  </div>
</modal>