@import "src/assets/styles/layout.scss";

.main-content{
    width: calc(100% - 190px);
    margin-left: 190px;
    height: 100%;
}

.main-content-mobile{
    width: 100%;
    height: 100%;
    z-index: 1004;
}

.sidebar{
    z-index: 1005;
}
