@import "src/assets/styles/colors.scss";
@import "src/assets/styles/icons.scss";

.date-container{
    width: 100%;
}

.days{
    width: 20%;
}

.years{
    width: 30%;
}

.months{
    width: 50%;
}

.sex-radio{
    width: 40%;
}

.selected-styles-container{
    width: 100%;
}