<div class="d-flex flex-row align-items-baseline">
  <label class="property-title">{{'Musician_Name' | translate}}:</label>
  <input [class.error]="wasSubmit && !creationService.baseModel.name" [(ngModel)]="creationService.baseModel.name" class="form-control secondary" />
</div>

<br>
<div class="d-flex flex-row align-items-baseline">
  <label class="property-title">{{'Musician_Styles' | translate}}:</label>
  <div class="d-flex flex-column selected-styles-container">
    <select [(ngModel)]="currenSelectedStyle" class="form-control mr-3" (ngModelChange)="onStyleChanged()">
        <option *ngFor="let style of styles.keys()" [ngValue]="style">{{musicianTypesProvider.musicStyles.getValue(style)}}</option>
      </select>
    <br>
    <div class="d-flex flex-row">
      <div *ngFor="let musicianStyle of creationService.band.styles" class="musician-style d-flex align-items-center mr-3">
        <div (click)="removeStyle(musicianStyle)" class="icon icon-close-red mr-2"></div>
        <span>{{musicianTypesProvider.musicStyles.getValue(musicianStyle)}}</span>
      </div>
    </div>
  </div>
</div>

<br>
<div class="d-flex flex-row align-items-top">
  <label class="property-title">{{'Musician_Description' | translate}}:</label>
  <textarea [(ngModel)]="creationService.baseModel.description" class="form-control secondary"></textarea>
</div>
