@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";

.soundcloud-playlist-container-wrapper{
    height: 100%;
    width: 100%;
    padding-bottom: 24px;
}

.soundcloud-playlist-container{

    width: 100%;
    padding: 0px 30px; 
    height: 100%;

    .soundcloud-track{
        width: 100%;
        padding-bottom: 18px;
    
        
    }
}

.icon-close{
    display: none;
}

.soundcloud-track:hover > .icon-close{
    display: block;
}

.empty{
    width: 100%;
    margin-top: 20px;
    color: $inactive-color !important;
    font-size: 13px;
    text-align: center;
}