<entity-base [entity]="band" [underNameTemplate]="underNameTemplate" [items]="infoItems" (onSaved)="save()"></entity-base>

<ng-template #underNameTemplate>
  <div class="sub-info-container">
    <!-- {{musicianTypesProvider.styles.getValue(band.instrument) | translate}}, {{musician.age}} {{'Musician_Years' | translate}} -->
  </div>
</ng-template>

<ng-template #nameEditTemplate>
  <input placeholder="{{'Musician_Name' | translate}}" [(ngModel)]="newBand.name" class="form-control secondary" />
</ng-template>


<ng-template #netsEditTemplate>

  <div class="d-flex flex-column nets-container">
    <input placeholder="YouTube" [(ngModel)]="newBand.youTubeLink" class="form-control secondary" />
    <input placeholder="Vk" [(ngModel)]="newBand.vkLink" class="form-control secondary" />
    <input placeholder="Facebook" [(ngModel)]="newBand.facebookLink" class="form-control secondary" />
    <input placeholder="SoundCloud" [(ngModel)]="newBand.soundCloudLink" class="form-control secondary" />
  </div>


</ng-template>