
.musician-full-container{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px; 
    musician-base{
        margin-bottom: 8px;
    }
}

.row-container{
    margin-top: 8px;
}

.musician-full-container-mobile{
    padding: 0;
    max-height: 100%;
    overflow-y: auto;

    .row-container{
        margin-top: 0px;
    }

    musician-base{
        margin-bottom: 0;
    }
}