<div *isDesktop class="musician-full-container d-flex justify-content-center">

  <div *ngIf="editService.baseModel" class="d-flex flex-column row-container">
    <musician-base ></musician-base>
    <entity-sound [entity]="editService.baseModel" [height]="'507px'"></entity-sound>
  </div>
  <div *ngIf="editService.baseModel" class="d-flex flex-column justify-content-center row-container">
    <div class="d-flex flex-row" style="margin-bottom: 8px">
        <musician-info *ngIf="editService.baseModel"></musician-info>
        <musician-map *ngIf="editService.baseModel"></musician-map>
    </div>
   
    <musician-video [musician]="editService.baseModel"></musician-video>

  </div>
</div>

<div *isMobile class="musician-full-container musician-full-container-mobile">

  <div class="d-flex flex-column justify-content-center row-container">
    <musician-base *ngIf="editService.baseModel"></musician-base>
    <musician-info *ngIf="editService.baseModel"></musician-info>
  </div>
</div>