@import "src/assets/styles/layout.scss";

.musician-full-container{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px; 
    margin-left: $sidebar-global-size;
}

.row-container{
    margin-top: 8px;
}