 <div class="musician-full-container">
   <div class="d-flex justify-content-center row-container">
    <musician-base *ngIf="musician" [musician]="musician"></musician-base>
    <musician-info *ngIf="musician" [musician]="musician"></musician-info>
    <musician-map *ngIf="musician" [musician]="musician"></musician-map>
   </div>
   <div *ngIf="musician.videosYoutube && musician.videosYoutube.length > 0" class="d-flex justify-content-center row-container">
    <musician-video *ngIf="musician" [musician]="musician" style="margin-right:9px"></musician-video>
    <musician-video *ngIf="musician" [musician]="musician"></musician-video>
  </div>
</div> 
