@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";


.soundcloud-search-sontainer{
    width: 100%;
    padding: 12px; 
    
    .search-input-container{
        margin-bottom: 24px;
    }

    .soundcloud-track{
        width: 100%;
        height: 20px;
        margin-top: 12px;

        iframe{
            margin-right: 6px;
        }
    }

    .search-button{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: $dark-orange-light;
    }
    
}
