<div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="soundcloud-playlist-container-wrapper">
  <div class="soundcloud-search-sontainer" (keyup.enter)="refreshTracks()">
    <ng-container *ngIf="tracks">
      <div *ngFor="let track of tracks" class="soundcloud-track d-flex flex-row">
        <soundcloud-track [track]="track" [isUsers]="isUsers" (onPlay)="play($event)" (onPause)="stop($event)" (onAdded)="addToPlaylist($event)" (onRemoved)="removeFromPlaylist($event)"></soundcloud-track>
      </div>
    </ng-container>

    <div *ngIf="!tracks || tracks.length == 0" class="empty">
      <span>{{'Sound_TracksNotFound' | translate}}</span>
    </div>

  </div>
</div>