@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";
@import "src/assets/styles/base.scss";


.soundcloud-playlist-container-wrapper{
    height: 85%;
    width: 100%;
    padding-bottom: 24px;
}

.soundcloud-search-sontainer{
    width: 100%;
    padding: 0px 30px; 
    height: 100%;
    
    .search-input-container{
        margin-bottom: 24px;
    }

    .soundcloud-track{
        width: 100%;
        margin-top: 12px;
    }

    .search-button{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: $dark-orange-light;
    }

    .empty{
        width: 100%;
        color: $inactive-color !important;
        font-size: 13px;
        text-align: center;
    }
    
}

.icon-plus{
    color: #999999;
}

.icon-close{
    display: none;
}

.soundcloud-track:hover > .icon-close{
    display: block;
}