
<div class="legend-circle d-flex align-items-center justify-content-center">
    
    <i class="icon-pin"></i>

    <div *ngIf="legendItemsVisible" class="legend-items-container">
            <div class="legend-item" *ngFor="let key of entityTypeProvider.entities.keys()">
                <img src="{{iconProvider.getIconByType(key)}}"/>
                <span class="item-label">{{entityTypeProvider.entities.getValue(key) | translate}}</span>
            </div>
            
    </div>

    <div class="triangle"></div>
</div>