/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/colors.scss";

html, body{
    width: 100%;
    height: 100%;
}

#player{
    
    border: 1px solid red;
}

.btn{
    cursor: pointer;
}

.btn-secondary{
        color: $app-green;
    }

.btn-success{
    background-color:  $app-green;
}

.navbar{
    height: 56px !important;
}

i{
    outline: none;
}

