<side [title]="'Settings'">
  <div class="main-settings-container">
    <!-- <div>
      <label>{{'Settings_MapType' | translate}}</label>
       <p-dropdown [options]="maps" [(ngModel)]="mapProvider.selectedMap" (onChange)="mapProvider.updateMap()"></p-dropdown>
    </div>

    <br> -->

    <div>
      <label>{{'Settings_Language' | translate}}</label>
      <p-dropdown [options]="languages" [(ngModel)]="languageService.language" (onChange)="languageService.changeLanguage(); updateLanguages();"></p-dropdown>
    </div>

    <!-- <br>

    <div>
      <label>{{'Theme' | translate}}</label>
      <select class="form-control" [(ngModel)]="themeService.selectedTheme" (ngModelChange)="themeService.changeTheme()">
        <option *ngFor="let theme of themeService.themes" [ngValue]="theme" >{{theme.title | translate}}</option>
      </select>
    </div> -->
  </div>
</side>