@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";

.main-settings-container{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 22px;
}

:host-context(.light) label{
    color:  $app-grey;
}

:host-context(.dark) label{
    color:  $dark-grey;
}