@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/forms.scss";


.search-items-container{
    height: 1px;
    flex: 2;
}

.no-items-message-container{
    color: $inactive-color;
    font-size: 13px;
}

.create-button{
    width: 175px;
    margin-top: 20px;
    background: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);
}

.spinner-container{
    width: 100%;
    padding: 12px 25px;
}