.cropper-point, .cropper-line {
    background: none !important;
}

.cropper-view-box{
    outline: none !important;
    border-radius: 50%;
}

.cropper-face{
     border-radius: 50%;
}

.cropper-modal{
    background: white !important;
}