$dark-grey: #9ba1af;
$dark-orange: #e08a19;
$dark-orange-light: #ee9118;
$dark-orange-hard: #ee9117;



$dark-main: #232831;
$dark-main-side: $dark-main;

$dark-sub-main: #353b47;

$dark-title-color: #c0c6cd;
$dark-icon: #444c5b;
$dark-item-hover: #dee5ec;

$button-gradient-yellow: rgb(238,145,23);
$button-gradient-red: rgb(247,34,84);

$dark-font-color: #6e6f72;

$dark-card-background: #f4f6fa;

$dark-control-border: #dddfe1;

$dialog-name-color: #6f6e72;
$dialog-background: #e4eaf0;


$inactive-color: #adb5bd;
$active-color: #4d4d4d;

$light-main-side: #eff2f8;

