$dark-grey: #9ba1af;
$dark-orange: #e08a19;
$dark-orange-light: #ee9118;


$dark-main: #232831;
$dark-main-side: $dark-main;

$dark-sub-main: #353b47;

$dark-title-color: #717272;

$button-gradient-yellow: rgb(238,145,23);
$button-gradient-red: rgb(247,34,84);

