$dark-grey: #9ba1af;
$dark-orange: #e08a19;
$dark-orange-light: #ee9118;



$dark-main: #232831;
$dark-main-side: $dark-main;

$dark-sub-main: #353b47;

$dark-title-color: #717272;
$dark-icon: #444c5b;
$dark-item-hover: #dee5ec;

$button-gradient-yellow: rgb(238,145,23);
$button-gradient-red: rgb(247,34,84);

$dark-font-color: #6e6f72

