@import "src/assets/styles/colors.scss";

input[type=radio],
input[type=checkbox]{
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label:before,
input[type=checkbox] + label:before{
  margin-right:5px; 
  display:inline-block;
  vertical-align: baseline;
  content: url("/assets/images/radio.png");
  cursor: pointer;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{
   content: url("/assets/images/radio-active.png");
}

input[type=radio] + label:before{
  border-radius:50%;
}
input[type=checkbox] + label:before{
  border-radius:2px;
}

.form-control:focus{
  border-color: $app-green !important;
}

.form-control::-webkit-input-placeholder{
  font-size: 14px;
  color: $app-grey;
}


// textarea{
//   overflow: hidden;
// }

