@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";

input[type=radio],
input[type=checkbox]{
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label:before,
input[type=checkbox] + label:before{
  margin-right:5px; 
  display:inline-block;
  vertical-align: baseline;
  content: url("/assets/images/radio.png");
  cursor: pointer;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{
   content: url("/assets/images/radio-active.png");
}

input[type=radio] + label:before{
  border-radius:50%;
  height: 19px;
}
input[type=checkbox] + label:before{
  border-radius:2px;
  height: 19px;
}

.radio-label{
    display: flex;
    align-items: center;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-control{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #bee8c6;
    
    font-size: 14px;
    padding-left: 0;
    background-color: rgba(0,0,0,0) !important;
}

:host-context(.light) .form-control{
  border-color: $light-label !important;
}

:host-context(.dark) .form-control{
  border-color: $dark-grey !important;
}

:host-context(.light) .form-control:focus, :host-context(.light) .btn:focus{
  border-color: $app-green !important;
}

:host-context(.dark) .form-control:focus, :host-context(.dark) .btn:focus{
  border-color: $dark-orange-light !important;
}

.form-control::-webkit-input-placeholder{
  font-size: 14px;
  color: $app-grey;
}

.btn{
   border-radius: 20px;
   outline: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    color: white;
}

:host-context(.dark) .btn-success{
        color: white;
        background-color: $dark-orange-light;
        border: 1px solid $dark-orange-light;
}

:host-context(.dark) .btn-secondary{
        color: $dark-orange-light;
        border: 1px solid $dark-orange-light;
}

.ui-multiselect-header{
  display: none;
}

.ui-multiselect-label-container{
  width: 180px;
  height: 30px;
  background-color: rgba(0,0,0,0) !important;
  border: none !important;
}

.ui-multiselect{
  border: none;
  background-color: rgba(0,0,0,0) !important;
  
}

.ui-multiselect-label{
  background-color: rgba(0,0,0,0) !important;
}

.ui-state-default{
  border: none !important;
  outline: none !important;
}

.ui-multiselect-trigger{
  display: none;
}

.ui-chkbox-box.ui-state-active{
  content: url("/assets/images/facebook.svg") !important;
}

.ui-chkbox-box.ui-state-active{
  background-color: white !important;
  color: black !important;
}

.ui-multiselect-item{
  background-color: white !important;
  color: black !important;
}
