.icon{
    min-width: 12px;
    min-height: 12px;
    outline:none;
    cursor: pointer;
    display: inline-block;
}

.icon-big{
    min-width: 36px;
    min-height: 36px;
    outline:none;
    cursor: pointer;
}

.icon-close{
    background: url("/assets/images/close.png") no-repeat;
}

.icon-close-red{
    background: url("/assets/images/close-red.png") no-repeat;
}

.youtube-icon{
    background: url("/assets/images/youtube.png") no-repeat;
}

.vk-icon{
    background: url("/assets/images/vk.png") no-repeat;
}

.facebook-icon{
    background: url("/assets/images/facebook.png") no-repeat;
}