.icon{
    min-width: 12px;
    min-height: 12px;
    outline:none;
    cursor: pointer;
    display: inline-block;
    background-color: #b9babb;
    mask-repeat: no-repeat;
}

.icon-middle{
    min-width: 20px;
    min-height: 20px;
}

.icon-big{
    min-width: 36px;
    min-height: 36px;
}

.icon-close-red{
    background: url("/assets/images/close-red.png") no-repeat;
}

.search-icon{
    mask-image: url("/assets/images/search.png");
}

.person-icon{
    mask-image: url("/assets/images/no-name.svg");
}

.messenger-icon{
     mask-image: url("/assets/images/messenger.png");
}

.exit-icon{
     mask-image: url("/assets/images/exit.png");
}

.settings-icon{
    mask-image: url("/assets/images/settings.png");
}

.logo-icon{
    mask-image: url("/assets/images/logo.png");
}

.show-all-icon{
    background: url("/assets/images/show-all.png") no-repeat;
    width: 30px;
}

.show-all-active-icon{
    background: url("/assets/images/show-all-active.png") no-repeat;
    width: 30px;
}

.notification-icon{
     background: url("/assets/images/notification.png") no-repeat;
     height: 25px;
}

.success-icon{
    background: url("/assets/images/success.png") no-repeat;
}

.back-arrow-icon{
    mask-image: url("/assets/images/back.svg");
}

.star-icon{
    mask-image: url("/assets/images/star.png");
}

.filter-icon{
    mask-image: url("/assets/images/filter.svg");
}

.pin-icon{
    mask-image: url("/assets/images/pin.svg");
}

.youtube-icon{
    mask-image: url("/assets/images/youtube.svg");
    background-color: #d22215;
}

.vk-icon{
    mask-image: url("/assets/images/vk.svg");
    background-color: #4d77a2;
}

.facebook-icon{
    mask-image: url("/assets/images/facebook.svg");
    background-color: #3b5998;
}

.soundcloud-icon{
    mask-image: url("/assets/images/soundcloud.svg");
    background-color: #ff6a22;
}