.leaflet-div-icon{
    border: none !important;
    background: rgba(0, 0, 0, 0) !important;
}

$icon-width:40px;

.icon-image-container, .creation-marker-container{
    width: $icon-width;
    img{
        width: $icon-width;
    }
}

.cluster-icon-container{
    background: url("/assets/images/cluster.png") no-repeat;
    width: $icon-width + 10px;
    height: $icon-width + 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creation-marker-container{

    .creation-icons-container{
        width: 80px;
        height: 25px;
        border-radius: 10px;
        background: white;
        margin-left: -15px;
        margin-bottom: 10px;
        .cross-container{
            width: 40px;
            border-radius: 10px 0 0 10px;
            height: 25px;
            img{
                width: 10px;
            }
        }

        .cross-container:hover, .apply-container:hover{
            background-color: #eeeeee;
        }

        .apply-container{
            width: 40px;
            border-radius: 0 10px 10px 0;
            height: 25px;
            img{
                width: 12px;
            }
        }
        
        
    }
}