.icon-image-container{
    width: 50px;
}

.cluster-icon-container{
    background-image: url("/assets/images/cluster.png");
    width: 60px;
    height: 60px;
    div{
        margin-left: 45%;
        color: white;
    }
}