@import "src/assets/styles/dark-colors.scss"; 

.leaflet-div-icon{
    border: none !important;
    background: rgba(0, 0, 0, 0) !important;
}

$icon-width:20px;

.main-icon-image-container{
    margin-left: -16px;
    margin-top: -55px;
}

.icon-image-container, .creation-marker-container{
    width: $icon-width;
    background: url("/assets/images/markers/min-pin.png") no-repeat;
    width: 43px;
    height: 60px;
    


    img{
        width: $icon-width;
        margin-top: -14px;
    }
}

.main-cluster-container{
    margin-left: -20px;
    margin-top: -70px;
}

.cluster-icon-container{
    background: url("/assets/images/markers/pin.png") no-repeat;
    width: 54px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        background: -webkit-linear-gradient($button-gradient-red, $button-gradient-yellow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
        font-weight: bold;
        margin-top: -12px;
    }
}

.main-creation-marker-container{
    margin-top: -90px;
    margin-left: -16px;
    .creation-icons-container{
        width: 80px;
        height: 25px;
        border-radius: 10px;
        background: white;
        margin-left: -15px;
        margin-bottom: 5px;
        .cross-container{
            width: 40px;
            border-radius: 10px 0 0 10px;
            height: 25px;
            img{
                width: 10px;
            }
        }
        .cross-container:hover, .apply-container:hover{
            background-color: #eeeeee;
        }
    
        .apply-container{
            width: 40px;
            border-radius: 0 10px 10px 0;
            height: 25px;
            img{
                width: 12px;
            }
        }
        
        
    }
}


