

.fa-close{
    content: url("/assets/images/close.png");
    width: 12px;
    position: absolute;
}

.ui-dialog-titlebar-close{
    border: none !important;
}

.ui-dialog-titlebar-close:hover{
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.ui-widget-header{
    background: rgba(0, 0, 0, 0) !important;
}

.ui-dialog-titlebar{
    text-align: center;
}

.ui-dialog-mask{
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.ui-dialog{
    max-height: 80% !important;
}
