@import "src/assets/styles/colors.scss";
@import "src/assets/styles/icons.scss";

::-webkit-scrollbar {
    width: 0px;
}

.main-search-container{
    padding-left: 25px;
    padding-right: 22px;
    max-height: 96%;
    overflow-y: auto;
    margin-top: 6px;
}

.search-item{
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
    //cursor: pointer;
    min-height: 95px;
}

.search-item:hover{
    border-bottom: 1px solid $app-green;
}

.star-icon, .star-selected-icon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
}

.star-icon-message{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

.no-items-message-container{
    padding: 20px;
}