<side [title]="'Favorites'">
  <div *ngIf="items" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" class="main-search-container">
    <search-list [items]="items"></search-list>
    <div *ngIf="(!items || items.length == 0) && !isLoading" class="no-items-message-container">
      <span>{{'Favourite_NoItems' | translate}}</span>
      <span class="icon star-icon star-icon-message"></span>
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner-container">
      <spinner [(visible)]="isLoading" [width]="'16px'"></spinner>
  </div>
</side>