@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/icons.scss";

.main-search-container{
    flex: 2;
    height: 1px;
}

.search-item{
    padding: 20px 0;
    font-size: 13px;
    //cursor: pointer;
    min-height: 95px;
}

.search-item:hover{
    border-bottom: 1px solid $app-green;
}

.star-icon, .star-selected-icon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
}

.star-icon-message{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

.no-items-message-container{
    padding: 0 25px;
    color: $inactive-color;
    font-size: 13px;
}