@import "src/assets/styles/colors.scss";
@import "src/assets/styles/icons.scss";

::-webkit-scrollbar {
    width: 5px;
}

.main-search-container{
    padding-top: 20px;
    padding-left: 15px;
    max-height: 100%;
    margin-top: -35px;
    overflow-y: auto;
}

.search-item{
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
    //cursor: pointer;
    min-height: 95px;
}

.search-item:hover{
    border-bottom: 1px solid $app-green;
}

.star-icon, .star-selected-icon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
}