
@import "src/assets/styles/colors.scss";
@import "src/assets/styles/dark-colors.scss";
@import "src/assets/styles/layout.scss";
@import "src/assets/styles/icons.scss";

.leaflet-map{
    height: 100%;
}

.add-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1001;
    position: absolute;
    bottom: 70px;
    left:  $sidebar-global-size + 60px;
    font-size: 30px;
    text-align: center;
    font-weight: lighter !important;
    box-shadow: 0 7px 30px rgba(0,0,0,0.5);
    cursor: pointer;
    outline: none;
}

:host-context(.dark) .add-circle{
    background: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);
}

.map-legend-container{
    position: absolute;
    bottom: 5%;
    right: 45px;
    z-index: 1001;

    .zoom-container{
        width: 120px;
        height: 36px;
        background-color: $light-main-side;
        border-radius: 20px;
        margin-left: 95px;
        
        div{
            width: 50%;
            margin-top: 3px;
            cursor: pointer;
        }

        div:hover{
            background-image: linear-gradient(to top, $button-gradient-yellow, $button-gradient-red);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}

.search-filter{
    position: absolute;
    top: calc(75px + 10%);
    right: 45px;
    z-index: 1001;
}

.search-filter-mobile{
    z-index: 1001;
    position: absolute;
    top: calc(75px + 2%);
    width: 100%;
    display: flex;
    justify-content: center;
}



