<div class="leaflet-map" id="map">
</div>


<ng-container>
  <div routerLink="/create" *ngIf="userService.user" class="d-flex align-items-center justify-content-center add-circle">
    <img src="assets/images/plus.png" />
  </div>
</ng-container>

<ng-container *showItBootstrap="['xl','lg']">
  <div class="map-legend-container d-flex">
    <map-legend></map-legend>
    <div class="zoom-container d-flex justify-content-between align-items-center">
      <div (click)="zoom(1)" class="d-flex justify-content-center align-items-center">
        <span class="icon-plus"></span>
      </div>
      <div (click)="zoom(-1)" class="d-flex justify-content-center align-items-center">
        <span class="icon-minus"></span>
      </div>
    </div>
  </div>
</ng-container>

<div *isDesktop class="search-filter">
  <search-filter></search-filter>
</div>

<div *isMobile class="search-filter-mobile">
    <search-filter></search-filter>
</div>

<ng-container *isMobile >
  <div *ngIf="!userService.user" class="footer">
    {{'Start_Help1' | translate}}
            <span routerLink="/login">{{'Login_ToLogIn' | translate}}</span>
            {{'Start_Help_Or' | translate}}
            <span routerLink="/signup">{{'Login_ToSignup' | translate}}</span>
  </div>
</ng-container>
