<modal [title]="'Avatar_Title'" [width]="'550px'">
  <div class="d-flex flex-column align-items-center justify-content-center main-avatar-container">
      <div class="add-delete-container d-flex flex-row justify-content-between">
          <p-fileUpload chooseLabel="{{'Avatar_LoadNew' | translate}}" mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
            <!-- <ng-template let-file pTemplate="file">
              <div class="d-flex align-items-center action-container">
                <i class="icon-rubbish-bin"></i>
                <span>{{'Avatar_LoadNew' | translate}}</span>
              </div>
          </ng-template>  --> 
         
       

        <div class="d-flex align-items-center action-container">
          <i class="icon-rubbish-bin"></i>
          <span>{{'Avatar_Delete' | translate}}</span>
        </div>
        
      </div>

        
      


    <!-- <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>

    <div class="d-flex flex-row align-items-center justify-content-between img-buttons">
      <div>
        <button routerLink="/" class="btn btn-secondary">{{'Login_Cancel' | translate}}</button>
      </div>
      <div *ngIf="!data.image">
        <label class="btn btn-success btn-file">
          {{'Avatar_BrowsePhoto' | translate}} <input type="file"  (change)="fileChangeListener($event)" hidden>
        </label>
      </div>
      <div *ngIf="data.image">
        <button (click)="save()" class="btn btn-success">{{'Avatar_SavePhoto' | translate}}</button>
      </div>
      
    </div> -->

  </div>
</modal>