<modal [title]="'Avatar_Title'" [width]="'550px'">
  <div class="d-flex flex-column align-items-center justify-content-center main-avatar-container">
    <!-- <div *ngIf="!imageBase64" class="add-delete-container d-flex flex-row justify-content-between">
      <p-fileUpload chooseLabel="{{'Avatar_LoadNew' | translate}}" mode="basic" name="demo[]" url="./upload.php" accept="image/*"
        maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
      <div class="d-flex align-items-center action-container">
        <i class="icon-rubbish-bin"></i>
        <span>{{'Avatar_Delete' | translate}}</span>
      </div>
    </div> -->

    <img id="avatar" cropper [elementId]="'avatar'" class="cropped-image" src="https://pp.userapi.com/c836437/v836437592/409c3/OLuRH9lNp0E.jpg"/>

  </div>
</modal>