@import "src/assets/styles/colors.scss";
@import "src/assets/styles/icons.scss";

.search-item{
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
    //cursor: pointer;
    min-height: 95px;
}

.search-item:hover{
    border-bottom: 1px solid $app-green;
}

.image-container{
    width: 70px;
    .no-image{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #f7f7f7;
        margin-right: 15px;
        img{
            width: 30px;
            height: 30px;
        }
    }
}



.star-icon, .star-selected-icon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
}

.search-item-content{
    max-width: 95%;
    overflow: hidden;
}