<div *ngFor="let item of items" class="search-item d-flex justify-content-between">
  <!--(mouseover)="selectMarkerOnMap(item)"-->
  <div class="search-sub-item d-flex justify-content-between">
    <div class="search-item-content-container">
      <div class="d-flex flex-row search-item-content">
        <div class="image-container"  (click)="navigate(item.login, item.type)">
          <div *ngIf="!item.image" class="no-image d-flex align-items-center justify-content-center"><img src="/assets/images/no-name.svg"></div>
          <img *ngIf="item.image" src="data:image/png;base64,{{item.image}}" />
        </div>
        <div class="d-flex flex-column">
          <div class="title" (click)="navigate(item.login, item.type)">
            {{item.title}}
          </div>
          <search-musician *ngIf="item.type == 1" [item]="item"></search-musician>
          <search-shop *ngIf="item.type == 2" [item]="item"></search-shop>
          <search-band *ngIf="item.type == 3" [item]="item"></search-band>
          <search-rehearsal *ngIf="item.type == 4" [item]="item"></search-rehearsal>
          <search-studio *ngIf="item.type == 5" [item]="item"></search-studio>
        </div>
      </div>
      <div [routerLink]="['/messenger/' + item.userLogin]" *ngIf="userService.user && !checkIfUserEntity(item.login) && item.userLogin" class="send-message-label">{{'Send_Message' | translate}}</div>
      <div *ngIf="userService.user && checkIfUserEntity(item.login)" class="send-message-label">{{'Edit' | translate}}</div>
    </div>

    <div class="d-flex flex-row">
      <span *ngIf="userService.user && !checkIfUserEntity(item.login)" (click)="changeFavourite(item.login)" class="icon star-icon" [class.selected-favorite]="item.isFavourite"></span>
    </div>
  </div>

</div>