@import "src/assets/styles/colors.scss";
@import "src/assets/styles/icons.scss";

.search-item{
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
    //cursor: pointer;
    min-height: 95px;
}

.search-item:hover{
    border-bottom: 1px solid $app-green;
}

.image-container{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    img{
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }

    .no-image{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #f7f7f7;
       
        img{
            width: 30px;
            height: 30px;
        }
    }
}

.star-icon, .star-selected-icon{
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
}

.search-item-content-container{
    max-width: 95%;
}

.search-item-content{
    overflow: hidden;
}

.send-message-label{
    color: $app-green;
    margin-left: 70px;
    cursor: pointer;
}